.btnn {
  background: #cacaca;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #cacaca;
}
.btnnn {
  background: #00a3ff;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  color: white;
  border: 1px solid #00a3ff;
}
.success {
  display: block;
}
.black {
  display: none;
}
.fa-times {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
