
    <section class="content">
        <div class="col-12" style="width: 100%;">
            <div>
                <p>Pharmacist Credentials Varifivation</p>
            </div>
            <div class="card" *ngFor="let item of credentialpharmacistlist;index as i;">

                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div>
                                <p>{{ item.name }}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btnn" (click)='deletedetalis(item.pharmacistReferenceId)'>
                                        Deny

                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btnnn" (click)='modalHideShow(item.pharmacistReferenceId)'>
                                        Approve

                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 ">
                        <div class="col-3">
                            <div>
                                <p>Address<br/>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <p>{{ item.state }}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <p *ngIf='item.licenseType==1'>Vaccination</p>
                                <p *ngIf='item.licenseType==2'>Pharmacist</p>

                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <p class="text-center">License</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf=' credentialpharmacistlist.length !== 0' class="pb-3">
                <ngb-pagination [collectionSize]="collectionsize" [(page)]="page" (pageChange)="reloadData()"
                    [pageSize]="10" [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf='credentialpharmacistlist.length === 0'>
            <div class="card-body">
                <div class=" text-center" >
                  <!-- <p class="text-center" style="font-size: 25px;">
                    No Records
                  </p> -->
                  <img src="../../../assets/images/nodata.jpg" height="350px"/>
                  <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>


    <div class="modal" id="myModal" [ngClass]="modalShow ? 'success' : 'black'" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content" style="    border-radius: 16px;">
                <!-- Modal Header -->
                <div class="col-12 " style="border-bottom: 1px solid rgb(206, 202, 202);">
                    <div class="row pt-2" style="width: 100%;">
                        <div class="col-8">
                            <h4 class="modal-title heading">Request Approval</h4>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-times float-right " (click)="modalHideShoww()" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                    <form [formGroup]="formVar" class="" >
                        <div class="col-12">
                            <div class="text-center"><p>Type of License </p></div>

                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-5" *ngFor="let item of licensearr;index as i;">
                                    <div >
                                        <input type="checkbox" [name]="item?.key" (click)="checkboxclick(item?.value)"
                                          [value]="item?.value" [id]="item?.key" />
                                        {{item?.key}}
                                      </div>
                                </div>
                                <div class="col-1"></div>

                            </div>
                        </div>
                        <div class=" text-center mt-4">  
                            <button class="btnn mr-3" (click)='modalHideShoww()'>Cancel</button> 
                            <button class="btnnn ml-3" (click)="onSubmit()">Approve</button>              
             
                        </div>
                    </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>