.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #007bff;
  padding-right: 30px;
  border-bottom: 5px solid #007bff;
  background: none;
  font-size: 18px;
}
.nav-pills .nav-link {
  color: #6c757d;
  padding-right: 30px;
  font-size: 18px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}
