<div style="overflow-x:auto;">
  <table>
    <tr>
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <td>
              <li class="nav-item">
                <a class="nav-link" [class.active]="
                    isLinkActive('/pharmacy/jobpost/view/invitepharmacy')
                  " [routerLink]="['/pharmacy/jobpost/view/invitepharmacy']" [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="Search()">Listing
                </a>
              </li>
            </td>
            <td>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[
                    '/pharmacy/jobpost/view/invitepharmacy/invitedpharmacist'
                  ]" [routerLinkActive]="'active'" data-toggle="tab" (click)="invitedpharmacist()">Invited Pharmacist</a>
              </li>
            </td>
          <td>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/invitepharmacy/myhire']"
                [routerLinkActive]="'active'" data-toggle="tab" (click)="myhire()">My Hire</a>
            </li>
          </td>
           <td>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/invitepharmacy/saved']"
                [routerLinkActive]="'active'" data-toggle="tab" (click)="Saved()">Saved</a>
            </li>
           </td>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <router-outlet></router-outlet>
           
          </div>
        </div>
      </div>
    </tr>
  </table>
</div>