.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.postingname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
.postingname {
  font-size: 18px;
  cursor: pointer;
}
.card {
  border-radius: 16px;
}
.btn {
  background-color: #00a3ff;
  border-radius: 11px;
  color: white;
  font-size: 16px;
  /* width: 180px; */
  /* height: 45px; */
}
.success {
  display: block;
}
.black {
  display: none;
}
.closesuccess {
  display: block;
}
.closeblack {
  display: none;
}
#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
.successs {
  display: block;
}
.blackk {
  display: none;
}
.cardd {
  background-color: white;
  z-index: 99999999;
  position: relative;
  float: right;
  top: 360px;
}
ul li {
  list-style-type: none;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (max-width: 500px) {
  .btn {
    background-color: #00a3ff;
    border-radius: 11px;
    color: white;
    font-size: 12px;
    /* width: 180px; */
    /* height: 45px; */
  }

  th,
  td {
    text-align: left;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    background-color: #00a3ff;
    border-radius: 11px;
    color: white;
    font-size: 12px;
    /* width: 180px; */
    /* height: 45px; */
  }
  h1 {
    font-size: 20px;
  }
  th,
  td {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
}
