<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-2">
          <h1 class="m-0 text-dark">Jobs</h1>
        </div>
        <div class="col-10">
          <div class="card-tools float-right d-flex">
            <button class="btn  p-2 mr-3" (click)="postNewJob()">
              Post a New Job</button><button class="btn  p-2 ml-1" (click)="resusejobpost()">
              Reuse a Job Posting
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
      <div style="overflow-x:auto;">
        <table style="width: 100%;" >
          <tr *ngFor="let key of Object.keys(jobListing)">
            <div class="card">
              <div class="card-body">
                  <td style="padding-left: 0px;">
                    <div>
                      <p style="width: 30px;"><b>{{(toNumber(page)-1)*10+toNumber(key)+1}}.</b></p>
                    </div>
                  </td>
                  <td >
                    <div>
                      <p style="width: 150px;"><b class="postingname" (click)="
                              viewjobdetals(
                                jobListing[key].jobReferenceId,
                                jobListing[key].jobId
                              )
                            ">{{ jobListing[key].jobName }}</b><br>{{ jobListing[key].createdAt | date: short }}</p>
                    </div>
                  </td>
                  <td >
                    <div>
                      <p style="width:100px">{{ jobListing[key].proposal }}<br />Proposal</p>
                    </div>
                  </td>
                  <td >
                    <div>
                      <p style="width:100px">0<br />Messaged</p>
                    </div>
                  </td>
                  <td>
                    <div>
                      <p style="width:100px">{{ jobListing[key].hired }}<br />Hired</p>
                    </div>
                  </td>
                  <td  >
                    <div class=" pt-4 text-center ">
                      <p style="width:100px" *ngIf="jobListing[key].status==='active'" style="color: green;"><b>ACTIVE</b></p>
                      <p style="width:100px" *ngIf="jobListing[key].status==='draft'" style="color: blue;"><b>DRAFT</b></p>
  
                    </div>
                  </td>
  
                  <!-- </div>
                    <div class="col-xs-2 col-sm-2"> -->
                  <td >
                    <div style="width:100px;position: absolute;" class=" d-flex" data-widget="treeview" role="menu" data-accordion="false">
                      <div class=" d-flex">
  
                        <div class=" d-flex" style="padding-top:23px;" *ngIf='clickedid === jobListing[key].jobId'>
                          <div class="nav-item">
                            <a class="nav-link">
                              <p (click)="
                              viewjobdetals(
                                jobListing[key].jobReferenceId,
                                jobListing[key].jobId
                              )
                            "><i class="fa fa-eye" title="View jobPost" aria-hidden="true"
                                  style="color: #00A3FF;cursor: pointer;"></i>
                              </p>
                            </a>
                          </div>
                          <div class="nav-item">
                            <a class="nav-link">
                              <p (click)="
                              editjobdetails(jobListing[key].jobReferenceId)
                            "><i class="fa fa-pencil-square-o" title="Edit Job Post" aria-hidden="true" style="color: #00A3FF;cursor: pointer;
      ;"></i>
                              </p>
                            </a>
                          </div>
                          <div class="nav-item">
                            <a class="nav-link">
                              <p (click)="deletejobdetalis(jobListing[key].jobReferenceId)"><i class="fa fa-trash"
                                  title="Delete Job Post" aria-hidden="true" style="color: #FF2E2E;cursor: pointer;"></i>
                              </p>
                            </a>
                          </div>
  
                        </div>
                        <a class="nav-link">
                          <i class="nav-icon fa fa-tachometer-alt"></i>
  
                          <p>
  
                            <i style="color: #00A3FF;cursor: pointer;" [id]="jobListing[key].jobId"
                              class="fa fa-ellipsis-h" title="View" *ngIf="
                                                                 clickedid !== jobListing[key].jobId"
                              (click)='openclose(jobListing[key].jobId)'></i>
  
                            <i style="cursor: pointer;" title="Close" [id]="jobListing[key].jobId" class="fa fa-times"
                              *ngIf="clickedid === jobListing[key].jobId " (click)='closeopen(jobListing[key].jobId)'></i>
                          </p>
                        </a>
                      </div>
  
  
  
                    </div>
                  </td>
               </div>
            </div>
          </tr>
          
        </table>
      </div>
      <div class="pb-3" *ngIf=' Object.keys(jobListing).length !== 0'>
        <ngb-pagination [collectionSize]="collectionsize" [(page)]="page" (pageChange)="reloadData()" [pageSize]="10"
          [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
      </div>
      <div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf=' Object.keys(jobListing).length === 0'>
        <div class="card-body">
          <div class=" text-center">
            <!-- <p class="text-center" style="font-size: 25px;">
                          No Records
                        </p> -->
            <img src="../../../assets/images/nodata.jpg" height="350px" />
            <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>