<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Enter your busines details</h3>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div>
      <div class="col-12">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <!-- <h3 class="card-title"></h3> -->
              <div class="row d-flex login">
                <!-- <div class="col-12">
                                <h3 class="text-white ">Enter Business Details</h3>
                            </div> -->
              </div>
              <form class="p-3" [formGroup]="formVar" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="">Pharmacy Name</label>
                      <input
                        type="text"
                        maxlength="30"
                        (keypress)="onlyText($event)"
                        class="form-control"
                        style="background: none"
                        formControlName="pharmacyName"
                        placeholder="Enter Pharmacy Name"
                        ngx-google-places-autocomplete
                        [options]="options"
                        #placesRef="ngx-places"
                        (onAddressChange)="handleAddressChange($event)"
                        [ngClass]="{
                          'is-invalid': submitted && f.pharmacyName.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.pharmacyName.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.pharmacyName.errors.required">
                          Pharmacy Name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Phone Number</label>
                      <input
                        type="text"
                        class="form-control"
                        style="background: none"
                        formControlName="phoneNumber"
                        [ngClass]="{
                          'is-invalid': submitted && f.phoneNumber.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.phoneNumber.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.phoneNumber.errors.required">
                          Phone Number is required
                        </div>
                        <div *ngIf="f.phoneNumber.errors.pattern">
                          Phone No must be a valid(format should be +1 949-328-9365 or 949-328-9365 or 9493289365 ) 
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1"
                        >Pharmacy Address</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        style="background: none"
                        formControlName="pharmacyAddress"
                       
                        [ngClass]="{
                          'is-invalid': submitted && f.pharmacyAddress.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.pharmacyAddress.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.pharmacyAddress.errors.required">
                          Pharmacy Address is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">State</label>

                      <select
                        class="form-control"
                        style="
                          background: none;
                          color: black;
                          border-radius: 7px;
                        "
                        (change)="getCityByState($event.target.value)"
                        formControlName="state"
                        [ngClass]="{
                          'is-invalid': submitted && f.state.errors
                        }"
                      >
                        <option
                          selected="selected"
                          style="color: black"
                          data-select2-id="3"
                          *ngFor="let state of states"
                          value="{{ state.state }}"
                        >
                          {{ state.state }}
                        </option>
                      </select>
                      <div
                        *ngIf="submitted && f.state.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.state.errors.required">
                          State is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">City</label>

                      <select
                        class="form-control"
                        style="
                          background: none;
                          color: black;
                          border-radius: 7px;
                        "
                        formControlName="city"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                      >
                        <option
                          selected="selected"
                          style="color: black"
                          data-select2-id="3"
                          *ngFor="let city of cities"
                          value="{{ city.city }}"
                        >
                          {{ city.city }}
                        </option>
                      </select>
                      <div
                        *ngIf="submitted && f.city.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.city.errors.required">
                          City is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Country</label>
                      <input
                        type="text"
                        style="background: none"
                        class="form-control"
                        formControlName="country"
                        (keypress)='onlyText($event)'
                        [ngClass]="{
                          'is-invalid': submitted && f.country.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.country.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.country.errors.required">
                          Country is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Postal Code</label>
                      <input
                        type="text"
                        style="background: none"
                        class="form-control"
                        (keypress)="onlyNumber($event)"
                        maxlength="6"
                        formControlName="postalCode"
                        [ngClass]="{
                          'is-invalid': submitted && f.postalCode.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.postalCode.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.postalCode.errors.required">
                          Postal Code is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleFormControlInput1"
                        >License Number</label
                      >
                      <input
                        type="text"
                        style="background: none"
                        class="form-control" maxlength="16"
                        formControlName="licenseNumber"
                        [ngClass]="{
                          'is-invalid': submitted && f.licenseNumber.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.licenseNumber.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.licenseNumber.errors.required">
                          License Number is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-xs-12 col-md-6 addpharmacudiv mb-3">
                    <button
                      type="submit"
                      class="addpharmacubtn text-center"
                      (click)="addpharmacy()"
                    >
                      Add Another Pharmacy
                    </button>
                  </div>
                  <!-- <div class=" contineudiv col-2"> -->
                  <!-- 
                                    <button type="" class="contineu  text-center " (click)='goback()'>
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>

                                    </button> -->
                  <!-- </div> -->
                  <div class="col-md-3 col-xs-12 savediv">
                    <button type="" class="btnn text-center" style="width: 100%;">Save</button>
                  </div>
                  <div class="contineudiv col-3">
                    <!-- <button
                      type=""
                      class="btnn text-center"
                      (click)="continue()"
                    >
                      Continue
                    </button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
