/* #hero {
  width: auto;
  height: 715px;
  background: url("../../../../assets/images/Frame 6.png") no-repeat, center;
  background-size: 100% 100%;
} */
.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.divform {
  background: #172b4d;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

form input {
  /* border: 2px solid black; */
  border-radius: 7px;
  padding: 20px;
  /* color: white; */
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: black;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
.btnn {
  background-color: white;
  border: 1px solid #0052cc;
  border-radius: 116px;
  padding: 8px 20px 8px 20px;
  color: #0052cc;
  font-size: 22px;
  font-weight: 500;
}
.contineu {
  border: 1px solid #0052cc;
  padding: 8px 15px 8px 15px;
  color: #0052cc;
  font-size: 22px;
  border-radius: 50%;
}
.addpharmacubtn {
  background: white;
  border: 1px solid #0052cc;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 8px 20px 8px 20px;
  color: #0052cc;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
/* .toster {
  float: left;
  z-index: 99999999;
  position: fixed;
  background-color: white;
  border-color: white;
  margin-top: 570px;
  font-size: 18px;
  font-weight: bold;
} */
.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  label {
    /* font-family: Roboto; */
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 33px !important;
    color: black !important;
  }
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400 !important;
  }
  .form-check-label {
    font-weight: 200 !important;
    font-size: 12px !important;
  }
  h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
