.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.btn {
  background-color: #00a3ff;
  border-radius: 11px;
  color: white;
}
.success {
  display: block;
}
.black {
  display: none;
}
.closesuccess {
  display: block;
}
.closeblack {
  display: none;
}
#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
.successs {
  display: block;
}
.blackk {
  display: none;
}
.cardd {
  background-color: white;
  z-index: 99999999;
  position: relative;
  float: right;
  top: 360px;
}
ul li {
  list-style-type: none;
  text-align: center;
}
