<div class="" >
    <!-- <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Jobs</h1>
                </div>

            </div>
        </div>
    </div> -->
    <section class="content">
        <div class="col-12" style="width: 100%;">
            <div class="card" *ngFor="let key of Object.keys(jobListing)">

                <div class="card-body">
                    <div class="row ">
                        <div class="col-1">
                            <div>
                                <p><b>{{(toNumber(page)-1)*10+toNumber(key)+1}}.</b></p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <p><b>{{ jobListing[key].jobName }}</b><br>{{ jobListing[key].createdAt | date: short }}
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <p>{{ jobListing[key].proposal }}<br />Proposal</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <p>0<br />Messaged</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <p>{{ jobListing[key].hired }}<br />Hired</p>
                            </div>
                        </div>
                        <div class="col-2 d-flex">
                            <div class=" pt-4 pr-5">
                                <p *ngIf="jobListing[key].status==='active'" style="color: green;"><b>ACTIVE</b></p>
                                <p *ngIf="jobListing[key].status==='draft'" style="color: blue;"><b>DRAFT</b></p>

                            </div>
                            <!-- </div>
              <div class="col-xs-2 col-sm-2"> -->
                            <div class=" d-flex">
                                <div class=" d-flex" data-widget="treeview" role="menu" data-accordion="false">
                                    <div class=" d-flex">

                                        <div class=" d-flex" style="padding-top:23px;"
                                            *ngIf='clickedid === jobListing[key].jobId'>
                                            <!-- <div class="nav-item">
                                                <a class="nav-link">
                                                    <p (click)="
                        viewjobdetals(
                          jobListing[key].jobReferenceId,
                          jobListing[key].jobId
                        )
                      "><i class="fa fa-eye" title="View jobPost" aria-hidden="true"
                                                            style="color: #00A3FF;cursor: pointer;"></i>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="nav-item">
                                                <a class="nav-link">
                                                    <p (click)="
                        editjobdetails(jobListing[key].jobReferenceId)
                      "><i class="fa fa-pencil-square-o" title="Edit Job Post" aria-hidden="true" style="color: #8A8A8A;cursor: pointer;
;"></i>
                                                    </p>
                                                </a>
                                            </div> -->
                                            <div class="nav-item">
                                                <a class="nav-link">
                                                    <p (click)="deletejobdetalis(jobListing[key].jobReferenceId)"><i
                                                            class="fa fa-trash" title="Delete Job Post"
                                                            aria-hidden="true"
                                                            style="color: #FF2E2E;cursor: pointer;"></i>
                                                    </p>
                                                </a>
                                            </div>

                                        </div>
                                        <a class="nav-link">
                                            <i class="nav-icon fa fa-tachometer-alt"></i>

                                            <p>

                                                <i style="color: #00A3FF;cursor: pointer;
;" [id]="jobListing[key].jobId" class="fa fa-ellipsis-h" title="View" *ngIf="
                                                           clickedid !== jobListing[key].jobId"
                                                    (click)='openclose(jobListing[key].jobId)'></i>

                                                <i style="cursor: pointer;" title="Close" [id]="jobListing[key].jobId"
                                                    class="fa fa-times" *ngIf="clickedid === jobListing[key].jobId "
                                                    (click)='closeopen(jobListing[key].jobId)'></i>
                                            </p>
                                        </a>
                                    </div>



                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div *ngIf=' Object.keys(jobListing).length !== 0' class="pb-5">
                <ngb-pagination [collectionSize]="collectionsize" [(page)]="page" (pageChange)="reloadData()"
                    [pageSize]="10" [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf=' Object.keys(jobListing).length === 0'>
                 <div class="card-body">
                    <div class=" text-center" >
                      <!-- <p class="text-center" style="font-size: 25px;">
                        No Records
                      </p> -->
                      <img src="../../../assets/images/nodata.jpg" height="350px"/>
                      <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>