


<div class="" id="myModal" 
  [ngClass]="modalShow ? 'success' : 'black'"
 role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div >
        <div class="flex_container">
          <div>
            <h6   class="pt-3 pl-5 ">
              <!-- <i class="fa fa-angle-left px-2 py-1 mr-2" aria-hidden="true" title="Go Back" style="background: #C4C4C4;cursor: pointer; 
border-radius: 8px;"></i> -->
Enter Your Card Details
</h6>
          </div>
        </div>
      </div>
      <div class="modal-body" >
        <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" >
          <div class="form-roww">
              <label for="card-info" style="font-size: 20px;padding-bottom: 10px;color: black;">Card Info</label>
              <div id="card-info" #cardInfo></div>
              <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
         <div class="text-center submitbutton" >
          <button type="submit" class="mt-3 btn" [ngClass]='button ? "show":"hide"'><b>Submit  </b></button>
          <button type="submit" class="mt-3 btn" [ngClass]='loadingbutton ? "show":"hide"' disabled>
            <b> Submit..  </b></button>
         </div>

      </form>
        </div>
    </div>
  </div>
</div>


<style>
  
.StripeElement {
  border-bottom: 1px solid black;
}
.card-element {
  padding: 11.4px 12px;
    border-bottom: 1px solid black;

}
</style>