
    <section class="content">
        <div class="col-12" style="width: 100%;">
            <div>
                <p>Pharmacy Credentials Varifivation</p>
            </div>
            <div class="card" *ngFor="let item of credentialpharmacylist;index as i;">

                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div>
                                <p>{{ item.pharmacyName }}</p>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row ">
                        <div class="col-3">
                            <div>
                                <p>{{item.pharmacyAddress}}<br/>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <p>{{ item.state }}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <p>{{ item.licenseNumber }}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <p class="text-center">License</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 pb-3" *ngIf=' credentialpharmacylist.length !== 0' >
                <ngb-pagination [collectionSize]="collectionsize" [(page)]="page" (pageChange)="reloadData()"
                    [pageSize]="10" [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf='credentialpharmacylist.length === 0'>
               <div class="card-body">
                <div class=" text-center" >
                  <!-- <p class="text-center" style="font-size: 25px;">
                    No Records
                  </p> -->
                  <img src="../../../assets/images/nodata.jpg" height="350px"/>
                  <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
