.success {
  display: block;
}
.black {
  display: none;
}
.btn {
  background: #00a3ff;
  border-radius: 11px;
  border: 1px solid #00a3ff;
  color: white;
}
.btnn {
  background: #00a3ff;
  border-radius: 11px;
  border: 1px solid #00a3ff;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  color: white;
}
label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}
.fa-times {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  margin-top: 5px;
}
.amount {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 400;
}
.textshow {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
}
.voucherinfo {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #d8d4d4;
}
.fa-pencil-square-o,
.fa-trash {
  display: none;
}
.voucherinfo:hover .fa-pencil-square-o {
  display: inline;
}
.voucherinfo:hover .fa-trash {
  display: inline;
}
.voucherinfo:hover {
  background-color: rgb(250, 250, 250);
}
@media only screen and (max-width: 768px) {
  .membership {
    font-size: 16px;
  }
  .addmembershipbutton {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
}
