.remove {
  background: #fe243e;
  border-radius: 11px;
  border: 1px solid #fe243e;
  color: white;
}
th,
td {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.notdisplay {
  display: none;
}
.display {
  padding-bottom: 10px;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}
p {
  width: 200px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
