.pharmacyinner {
  background: url("../../../../assets/images/Rectangle 1510.png") no-repeat,
    center;
}
.pharmacistinner {
  background: url("../../../../assets/images/Rectangle 1510 (1).png") no-repeat,
    center;
  border-radius: 14px;
}
.jobinner {
  background: url("../../../../assets/images/Rectangle 1511.png") no-repeat,
    center;
  border-radius: 14px;
}
.small-box {
  border-radius: 14px;
}
