.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #00a3ff;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 500;
  padding: 10px 50px 10px 50px;
  font-style: normal;
  background-color: #ffffff;
}
.nav-pills .nav-link {
  color: #6c757d;
  font-size: 19px;
  font-family: Roboto;
  padding: 10px 50px 10px 50px;
  font-style: normal;

  /* font-weight: 500; */
}

@media only screen and (max-width: 500px) {
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #00a3ff !important;
    font-size: 10px !important;
    font-family: Roboto !important;
    font-weight: 500 !important;
    /* padding: 10px 50px 10px 50px; */
    font-style: normal !important;
    background-color: #ffffff !important;
  }
  .nav-pills .nav-link {
    color: #6c757d !important;
    font-size: 10px !important;
    font-family: Roboto !important;
    /* padding: 10px 50px 10px 50px; */
    font-style: normal !important;

    /* font-weight: 500; */
  }
}

@media only screen and (max-width: 768px) {
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #00a3ff;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    /* padding: 10px 50px 10px 50px; */
    font-style: normal;
    background-color: #ffffff;
  }
  .nav-pills .nav-link {
    color: #6c757d;
    font-size: 14px;
    font-family: Roboto;
    /* padding: 10px 50px 10px 50px; */
    font-style: normal;

    /* font-weight: 500; */
  }
}
