<div class="content-wrapper" >
    <div class="content-header">
    </div>
    <section class="content">
        <div class="">
            <div class=" p-2 mb-3 customeCol">
                <ul class="nav nav-pills">
                    <li class="nav-item" >
                        <a class="nav-link" [class.active]="isLinkActive('/pharmacy/settings/UserProfile')"
                            [routerLink]="['/pharmacy/settings/UserProfile']" [routerLinkActive]="'active'"
                            [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="UserProfile()">
                            User Profile
</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/pharmacy/settings/Pharmacies']"
                            [routerLinkActive]="'active'" data-toggle="tab" (click)="viewPharmacies()"> Pharmacies
</a>
                    </li>
      
                </ul>
            </div>
            <!-- /.card-header -->
            <div class="">
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
</div>