.navbar {
  display: none;
}
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
}
.success {
  display: block;
}
.black {
  display: none;
}
.btnn {
  background: #00a3ff;
  border: #00a3ff;
  color: white;
  font-size: 25px;
  padding: 5px 40px 5px 40px;
  border-radius: 14px;
}
.buypoint {
  background: #00a3ff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-size: 22px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}
.card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.redmeevoucher {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}
.fa-times {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .imgg {
    width: 100%;
  }
  .buypoint {
    background: #00a3ff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 16px;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
  }
  .redmeevoucher {
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
  }
  h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 100px;
  }
}
.swal2-title,
#swal2-title {
  font-size: 18px !important;
}
.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}
.swal2-popup .swal2-title {
  color: #595959;
  font-size: 18px !important;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0 0 0.4em;
  padding: 0;
  display: block;
  word-wrap: break-word;
}
.swal2-header h2 {
  font-size: 18px !important;
}
