<div class="content">
<div class="col-12">
     <div class="card" style="border-radius: 16px;" *ngIf='pharmacyUserDetailsLocalStorage.length!==0'> 
        <div class="card-body">
            <div class="row">
                <div class="col-3"><p><b>Pharmacy Name</b></p></div>
                <div class="col-3"><p><b>Phone Number</b></p> </div>
                <div class="col-2"><p><b>License Number</b></p> </div>
                <div class="col-2 d-flex"><p><b>Postal Code</b> </p></div>
                <div class="col-1 d-flex"><p><b>Edit</b> </p></div>
                <div class="col-1 d-flex"><p><b>Delete</b> </p></div>
            </div>
        </div>
    </div> 
<div class="card" *ngFor="let item of pharmacyUserDetailsLocalStorage" style="border-radius: 16px;">
<div class="card-body">
    <div class="row">
    <div class="col-3" ><p class="name">{{item.pharmacyName}}</p><p style="margin-top: -15px;">{{item.pharmacyAddress}}</p></div>
        <div class="col-3"><p>{{item.phoneNumber}}</p></div>
    <div class="col-2 license" ><p>{{item.licenseNumber}}</p></div>
    <div class="col-2 postalCode" ><p>{{item.postalCode}}</p></div>
    <div class="col-1 postalCode" ><p (click)='edit(item.referenceId)'style="color: #00A3FF;cursor: pointer;" title="Edit Pharmacies" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
    </div>
    <div class="col-1 " ><p (click)='delete(item.referenceId)'style="color: red;cursor: pointer;text-align:center" title="Delete Pharmacies" >
        <i class="fa fa-trash" aria-hidden="true"></i>
    </p>

    </div>
</div>
</div>
 </div>
  </div>