b {
  font-size: 19px;
}
.name {
  font-size: 17px;
  font-weight: 600;
}
.license {
  padding-left: 45px;
}
.postalCode {
  padding-left: 30px;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 10px !important;
    padding-left: 0px;
  }
  b {
    font-size: 10px !important;
  }
  .license {
    padding-left: 0px !important;
    text-align: center !important;
  }
  .postalCode {
    padding-left: 0px !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
  b {
    font-size: 16px;
  }
}
