.viewdesigne {
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0.5rem 2rem 2rem 2rem;
  padding: 1.5rem 3rem 3rem 3rem;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 15px;
  background: #0052cc;
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
}
.questionn {
  width: 120px;
  font-family: Roboto;
  font-size: 15px;
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  text-align: center;
  padding: 4px;
}
@media only screen and (max-width: 500px) {
  .viewdesigne {
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 0.5rem 0.5rem 0.5px 0.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  p {
    font-size: 14px;
  }
}
