  <div class="cardd tab-pane pt-3" *ngIf='jobviewlist.length!==0'>
    <span (click)='goback()'  style="font-size: 18px; cursor: pointer;color:#00A3FF" title="Back to Jobpost"><i _ngcontent-xyd-c141="" aria-hidden="true"  class="fa fa-angle-left  pr-2" style="font-size: 23px;color:#00A3FF ;padding-left: 80px;"></i>
      Back To Jobpost </span>
            <div class=" viewdesigne" *ngFor="let item of jobviewlist">
             <h4 class="pb-1">Jobpost Detail <span class="pl-3" style="color: #00A3FF;cursor: pointer;" (click)='Gotoedit(item.referenceId)' title="Edit Job Post">
              <i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i>
              </span></h4>
              <div >
<div class="row" >
  <div class="col-5 col-md-3"><p><b>Title</b></p></div>
  <div class="col-7 col-md-9" *ngFor="let item of jobviewlist" ><p>{{ item.jobName }}</p>
</div>
</div>
<div class=" row d-flex">
  <div class="col-5 col-md-3 d-flex">
    <p><b>Description</b></p>
  </div>
  <div class="col-7 col-md-9" *ngFor="let item of jobviewlist" >
    <p>{{ item.jobDescription }}</p>
  </div>
</div>
<div class=" row d-flex">
  <div class="col-5 col-md-3 d-flex">
    <p><b>Pharmacy Operation</b></p>
  </div>
  <div class="col-7 col-md-9"  >
    <p>{{ pharmacyoperationkey }}</p>
  </div>
</div>
<div class=" row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Expertise</b></p>
  </div>
  <div class="col-7 col-md-9"  >
    <p>{{ expertisekey }}</p>
  </div>
</div>
<div class="row" >
  <div class="col-5 col-md-3">
    <p><b>Software Skills</b></p>
  </div>
<div class="col-7 col-md-9"  >
  <div class="row d-flex">
    <div *ngFor="let itemm of softwareSkillsss" class="col-md-4  col-12 pb-1 pr-2">
      <div class="d-flex " style="
  border: 1px solid #0052CC;
  box-sizing: border-box;
  border-radius: 37px;
  height: 33px;">
        <div class="skilll py-1 px-1" title="{{ itemm.skill }}" >{{ itemm.skill }}</div>
        <div class=" level py-1 px-1" title="{{ itemm.level }}" style="margin-top: 0px;
      padding-left: 5px;">{{ itemm.level }}</div>
      </div>
    </div>
  </div>
    </div>

</div>
<div class="row " >
  <div class="col-5 col-md-3">
    <p><b>Screening Questions</b></p>
  </div>
  <div class="col-7 col-md-9">
      <div class="row d-flex" style="margin-top: 5px; margin-bottom:5px;">
          <div class="col-md-4 col-12" *ngFor="let itemm of screeningQuestionsss">
            <div class="questionn"  title="{{ itemm.question}}" style="    margin-right: 10px;    padding: 3px; width: 100%;"> {{ itemm.question }}</div>
        </div>
      </div>
    </div>
</div>
<div class=" row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Additional Skills</b></p>
  </div>
  <div class="col-7 col-md-9"  >
    <p>{{ additionalSkillskey }}</p>
  </div>
</div>
<div class="row d-flex" >
  <div class="col-5 col-md-3">
    <p><b>Pharmacy Name</b></p>
  </div>
  <div class="col-7 col-md-9" *ngFor="let item of pharmacydetails" >
    <p>{{ item.pharmacynaame }}</p>
  </div>
</div><div class="row d-flex" >
  <div class="col-5 col-md-3">
    <p><b>Pharmacy Address</b> </p>
  </div>
  <div class="col-7 col-md-9" >
    <p *ngFor="let item of pharmacydetails" >{{ item.pharmacyaddress }}</p>
  </div>
</div>
<div class="row d-flex" >
  <div class="col-5 col-md-3">
    <p><b>State</b> </p>
  </div>
  <div class="col-7 col-md-9"  >
    <p *ngFor="let item of pharmacydetails" >{{ item.state }}</p>
  </div>
</div>
<div class="row d-flex" >
  <div class="col-5 col-md-3">
    <p><b>City</b> </p>
  </div>
  <div class="col-7 col-md-9"  >
    <p *ngFor="let item of pharmacydetails" >{{ item.city }}</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Job Visibility</b> </p>
  </div>
  <div class="col-7 col-md-9"  >
    <p>{{ jobvisibilitykey }}</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Number Of Pharmacist Required</b></p>
  </div>
  <div class="col-7 col-md-9" *ngFor="let item of jobviewlist" >
    <p>{{ item.pharmacistNeeded }}</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Payment to the Pharmacist</b></p>
  </div>
  <div class="col-7 col-md-9" >
    <p>{{ paymentTypekey }}</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Rate</b></p>
  </div>
  <div class="col-7 col-md-9" *ngFor="let item of jobviewlist" >
    <p>{{ item.fixedPrice }}</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Date</b></p>
  </div>
  <div class="col-7 col-md-9" *ngFor="let item of jobviewlist" >
        <p>{{ item.startDateTime | date: "MMM d, y" }}</p>

  </div>
</div>
<div class="row d-flex">
  <div class="col-5 col-md-3">
    <p><b>Time</b></p>
  </div>
  <div class="col-7 col-md-9" >
    <p>{{ startdate}} to {{enddate}}</p>
  </div>
</div>
  </div>
              
          
            </div>
          </div> 

          <div class="card p-3" style="width: 100%; height: 550px" *ngIf="jobviewlist.length === 0">
            <div class="card-body">
              <div class=" text-center" >
                <!-- <p class="text-center" style="font-size: 25px;">
                  No Records
                </p> -->
                <img src="../../../assets/images/nodata.jpg" height="350px"/>
                <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                </div>
              </div>
            </div>
          </div>