<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mx-2">
        <div class="col-6">
            <h3>User</h3>
          </div>
        <div class="col-6">
          <!-- <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User</li>
          </ol> -->
          <div style="float: right;">
            <button class="btn btnn" (click)='adnewuser()'>Add New User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="col-12">
      <div class="row">
        <div class="col-12" >
              <div class="card" *ngIf='sabuserlist.length !== 0' > 
                <div class="card-body">
                        <table class="col-12">
                          <tr class="row pb-4 " *ngFor="let item of sabuserlist" >
                            <td > 
                              <!-- <input class="mr-3" type="radio"/> -->
                              <img
                              src="../../../../assets/images/female-pharmacist-home.jpg"
                              width="60px "
                              height="60px"
                              style="border-radius:50%"
                            /></td>

                           
                            <td class="col-3 pt-2">
                              <p class="">
                               <b>{{ item.firstname }}  {{ item.lastname }}
                              </b> 
                              </p>
                            </td>
                            <td class="col-4 pt-2"><p class="">{{item.email}}</p></td>
                           
                            <td  class="col-2 pt-2"><p class="">{{item.phone}}</p></td>
        <td class="col-1  pt-1">
          <button class="btn btnnn " (click)='edit(item.userReferenceID,item)'>Edit</button>
          <p style="color: #00a3ff;" class="editicon" (click)='edit(item.userReferenceID,item)'><i class="fa fa-pencil-square-o"
            aria-hidden="true"></i></p>
          </td>
        <td class="col-1  pt-1">
          <button class="btn delete" (click)='Delete(item.userReferenceID,item)'>Delete</button>
          <p style="color:red" class="deleticon" (click)='Delete(item.userReferenceID,item)'><i class="fa fa-trash" aria-hidden="true"></i>
          </p>
        </td>
      </tr>
                         <tr  *ngIf='sabuserlist.length !== 0'>     <ngb-pagination
                          [collectionSize]="collectionsize"
                          [(page)]="page"
                          (pageChange)="reloadDataa()"
                          [pageSize]="10"
                          [maxSize]="4"
                          [boundaryLinks]="true"
                        ></ngb-pagination></tr>
                         </table>
                </div><!-- /.card-body -->
                
              </div>

              <div class="card p-3" style="width: 100%;
                height: 550px;"   *ngIf='sabuserlist.length === 0' >
                  <div class="card-body">
                    <div class=" text-center" >
                      <!-- <p class="text-center" style="font-size: 25px;">
                        No Records
                      </p> -->
                      <img src="../../../assets/images/nodata.jpg" height="350px"/>
                      <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      
      </div>
    </div>
  </section>
</div>


