.pharmacistdata {
  margin-top: -10px;
}
/* .showborder {
  border: 0.5px solid black;
  width: fit-content;
  padding: 5px;
  overflow: scroll;
  margin-top: -10px;
  height: 175px;
} */
.notdisplay {
  display: none;
}
.display {
  padding-bottom: 10px;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 120px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}
.postingname {
  font-size: 18px;
  cursor: pointer;
}
.postingname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
.disabled::before {
  content: "Invited ";
  width: 80px;
  border-radius: 7px;
}
.ttt::before {
  content: "Invite ";
  width: 80px !important;
  border-radius: 7px !important;
}
.fa-heart {
  font-size: 30px;
}
.fa-heart-o {
  font-size: 30px;
}
.iconsave {
  color: green;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
p {
  width: 210px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
