.notdisplay {
  display: none;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 120px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}
