<div class="content-wrapper" >
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
             <h6 (click)='backtoreviewproposal()' style="color: #00A3FF;cursor: pointer;"><i class="fa fa-angle-left px-2 py-1" aria-hidden="true" style="
                cursor: pointer; 
                      "></i>Back To {{jobnametitle}}</h6> 
          </div>
          <div class="col-sm-6">
           
          </div>
        </div>
      </div>
    </div>
    <section class="content">
  
          <div class="card p-3" style="width: 100%;height: 570px;">
            <div class="card-body">
              <div class="row" *ngFor="let item of viewpharmacistdetails">
                <div class="col-7">
                  <div class="d-flex">
                    <img
                      src="../../../../assets/images/female-pharmacist-home.jpg"
                      width="70px "
                      height="70px"
                      style="border-radius: 50%;"
                    />
                    <div class="pl-5">
                      <h3>{{ item.name }} </h3>
                      <!-- <h6>{{ item.jobName }}</h6> -->
                      <p>{{ item.experience }} yr Exprience</p>
                      <p>Hourly Rate : {{ item.hourlyRates }}Hr </p>
                      <p>City : {{ item.cityPreference }} </p>
                        <p>Pharmacy Operation:{{pharmacyoperationname}}</p>
                        <p>Additional Skil:{{additionalkeyname}}</p>

                       <div class="pb-1" *ngIf='item.softwareProficiency.length>2'
                        [ngClass]='softwareeskill.length>2 ? "showborder":"notshowborder"'>
                        <div class="pb-1"  *ngFor="
                        let data of viewjob
                          ? item.softwareProficiency.slice(0, 2)
                          : item.softwareProficiency;
                        let i = index
                      ">
                          <div class="d-flex" style="
                                                          border: 1px solid #0052CC;
                                                              width: 200px;
                          
                                                          box-sizing: border-box;
                                                          border-radius: 37px;">
                            <div class="skilll" title="{{data.skill}}" >{{ data.skill }}</div>
                            <div class="level" title="{{data.level}}" style="margin-top: 0px;padding-right: 5px;  padding-left: 5px;">{{ data.level }}</div>
                          </div>
                        </div>
                      </div> 
                      <p *ngIf='item.softwareProficiency.length>2 && viewjob ' class="viewall" (click)="viewalljobpost()">
                        <i _ngcontent-jav-c108="" title="View All" aria-hidden="true" class="right fa fa-angle-up" ng-reflect-ng-class=" fa-angle-left"></i>
                        View All</p>
                      <p *ngIf='item.softwareProficiency.length>2 && showless  ' class="viewall" (click)="viewlessjobpost()">
                        <i _ngcontent-jav-c108="" title="View Less" aria-hidden="true" class="right fa fa-angle-down" ng-reflect-ng-class=" fa-angle-left"></i>
                        View Less</p>
      
                      <div [ngClass]='item.softwareProficiency.length>2 ? "notdisplay":"display"'>
                        <div class="pb-1" *ngFor="let data of item.softwareProficiency;
                                                                                                let i = index
                                                                                              ">
                          <div class="d-flex" style="
                                                                        border: 1px solid #0052CC;
                                                                            width: 200px;
                                        
                                                                        box-sizing: border-box;
                                                                        border-radius: 37px;">
                            <div class="skilll" title="{{data.skill}}" >
                              {{ data.skill }}</div>
                            <div class="level" title="{{data.level}}" style="margin-top: 0px;padding-right: 5px; padding-left: 5px;">{{ data.level }}</div>
                          </div>
                        </div>
                      </div>
                      

                    </div>
                  </div>
                </div>
               <div class="col-5">
                   <div class="row">
                     <div class="col-4"></div>
                     <div class="col-8">
                      <div style="margin-top: -15px;">       
                        <p><stars  stars="5" radius="10" [stars-selected]="item.ratings" disabled="true"></stars></p>
                </div>
                <div class="mt-5 " *ngIf='item.reviewsCount !==0'><p style="color: darkgrey;border-bottom:1px solid darkgrey;font-size: 18px;">reviews</p>
                  <div  style="height: 100px; width: 200px; overflow-y:auto;">
                    <div style="display: flex; flex-direction: column">
                      <div class="d-flex pb-2" *ngFor="
                        let itemm of item?.Reviews?.split(',')?.slice(0, 5);
                        let i = index
                      ">
                        <img class="" src="../../../../assets/images/Pharmacist-home.jpg" width="20px" height="20px"
                          style="border-radius: 50px" />
                        <span class="pl-3" style="margin-top: -2px;">{{ itemm }}</span>
                      </div>
                    </div>
                  </div>
                </div>                  </div>  
                   </div>
               </div>
              </div>
            </div>
          </div>
         
       
    </section>
  </div>
  
  
  
  