.addpharmacy {
  background: rgba(0, 82, 204, 0.16);
  border-radius: 8px;
  border: 1px solid rgba(0, 82, 204, 0.16);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding: 5px 40px 5px 40px;
  color: #0052cc;
}
.changepass {
  background: #000000;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 40px 8px 40px;
  width: 100%;

  color: #ffffff;
}
.subscription {
  background: #0052cc;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 40px 8px 40px;
  border: 1px solid #0052cc;

  color: #ffffff;
}
.payment {
  background: #00a3ff;
  width: 100%;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 15px 8px 15px;
  border: 1px solid #00a3ff;
  color: #ffffff;
}
.savebtn {
  width: 268px;
  padding: 8px 40px 8px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid #0052cc;
  color: #ffffff;
  background: #0052cc;
  border-radius: 8px;
}
.success {
  display: block;
}
.black {
  display: none;
}
input[type="file"] {
  display: none;
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
