<div class="content" style="height: 480px">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <div
          class="card card-primary"
          style="border-radius: 16px; height: 425px"
        >
          <div class="card-body box-profile">
            <div class="text-center mt-3" style="margin-left: 8rem">
              <div class="text-center">
                <div
                  style="
                    border: 1px solid #e8e4e4;
                    border-radius: 50%;
                    width: 100px;
                    height: 90px;
                  "
                >
                  <div
                    *ngIf="imageurl == null"
                    style="
                      padding-top: 21px;
                      display: -webkit-inline-box !important;
                      font-size: 25px;
                      font-weight: 600;
                      color: skyblue;
                    "
                  >
                    <label>
                      <div class="d-flex" style="cursor: pointer">
                        <div
                          *ngFor="
                            let itemm of userdatafirstname
                              ?.split('')
                              ?.slice(0, 2);
                            let i = index
                          "
                        >
                          {{ itemm.toLowerCase() }}
                        </div>
                      </div>
                      <input type="file" size="60" (change)="onChange($event)"/>
                    </label>
                  </div>
                  <div *ngIf="imageurl != null">
                    <img
                      class="profile-user-img img-fluid img-circle"
                      src="{{ image }}"
                      style="height: 90px"
                      (click)="openimg()"
                    />
                  </div>
                </div>
              </div>
            </div>

            <h3 class="profile-username text-center mt-2">
              {{ userdatafirstname }} {{ userdatalastname }}
            </h3>
            <div class="text-center mt-4 mb-4">
              <button class="addpharmacy" (click)="addpharmacy()">
                + Add Pharmacy
              </button>
            </div>
            <div class="text-center mt-4 mb-4">
              <button class="payment" (click)="payment()">Payment</button>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card" style="border-radius: 16px">
          <div class="card-body">
            <div>
              <h3>Edit Profile</h3>
            </div>
            <div>
              <form
                [formGroup]="formVar"
                class="detailform mt-5"
                (ngSubmit)="onSubmit()"
              >
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="name">First Name</label>
                        <input
                          type="name"
                          maxlength="25"
                          (keypress)="onlyText($event)"
                          class="form-control"
                          placeholder=""
                          id="fname"
                          formControlName="firstname"
                          [ngClass]="{
                            'is-invalid': submitted && f.firstname.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.firstname.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.firstname.errors.required">
                            first name is required
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email">E-mail </label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.email.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.email.errors.required">
                            email is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="name">Last Name </label>
                        <input
                          type="name"
                          maxlength="25"
                          (keypress)="onlyText($event)"
                          class="form-control"
                          id="lastname"
                          formControlName="lastname"
                          [ngClass]="{
                            'is-invalid': submitted && f.lastname.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.lastname.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.lastname.errors.required">
                            last name is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Phone">Phone</label>
                        <input
                          type="Phone"
                          (keypress)="onlyNumber($event)"
                          maxlength="10"
                          class="form-control"
                          id="phone"
                          formControlName="phone"
                          [ngClass]="{
                            'is-invalid': submitted && f.phone.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.phone.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.phone.errors.required">
                            Phone is required
                          </div>
                          <div *ngIf="f.phone.errors.pattern">
                            Phone No must be a 10 digit number
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6 pb-2">
                      <button class="changepass" (click)="changepassword()">
                        Change Password
                      </button>
                    </div>

                    <div class="col-md-6 pb-2">
                      <button
                        class="subscription"
                        style="width: 100%"
                        (click)="subscriptionplan()"
                      >
                        Change Subscription Plan
                      </button>
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <button class="savebtn" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [ngClass]="modalShow ? 'success' : 'black'"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 16px">
      <!-- Modal Header -->
      <div class="col-12 pt-2">
        <div class="row">
          <div class="col-10"></div>
          <div class="col-2">
            <div class="d-flex">
              <div class="pr-4">
                <p>
                  <label>
                    <i
                      class="fa fa-pencil"
                      title="Edit Profile Image"
                      aria-hidden="true"
                      style="color: #00a3ff; cursor: pointer"
                    ></i>

                    <input type="file" size="60" (change)="onChange($event)"/>
                  </label>
                </p>
              </div>
              <div>
                <i
                  style="cursor: pointer; margin-top: 0.4rem"
                  title="close"
                  class="fa fa-times float-right"
                  (click)="modalHideShoww()"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="modal-body">
          <img src="{{ image }}" width="100%" />
        </div>
      </div>
    </div>
  </div>
</div>
