input {
  border-left: none;
}
.input-group-text {
  border-right: none;
  background: white;
}
.fa-search {
  color: #00a3ff;
}
.pharmacistname {
  cursor: pointer;
}
.pharmacistname:hover {
  cursor: pointer;
  color: rgb(39, 94, 189);
}
