.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
}

form input {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
  background: none;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.btn {
  background-color: white;
  border-radius: 116px;
  padding: 5px 20px 5px 20px;
  color: #0052cc;
  font-size: 25px;
  font-weight: 500;
}
.formm {
  border: 1px solid rgb(218, 216, 216);
  border-radius: 40px;
  padding: 20px;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
form input {
  background-color: none !important;
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .logindiv {
    padding-top: 70px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  label {
    font-size: 13px;
  }
  .formm {
    border: 1px solid rgb(218, 216, 216);
    border-radius: 40px;
    padding: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
