 
          <form #checkout="ngForm" name="form"  (ngSubmit)="checkout.form.valid && onSubmit(checkout)" class="checkout formm mt-3"
           novalidate
          >
          <div class="row">
            <div class="col-6" style="padding: 10px;">
              <div class="form-group form-row">
              <label for="account-holder-name">Account Holder Name</label>
              <input type="text" name="account_holder_name" id="account-holder-name" class="form-control"
              [(ngModel)]="model.account_holder_name" #account_holder_name="ngModel"
                  [ngClass]="{ 'is-invalid': checkout.submitted && account_holder_name.invalid }" required />
                <div *ngIf="checkout.submitted && account_holder_name.invalid" class="invalid-feedback">
                  <div *ngIf="account_holder_name.errors.required"> Name is required</div>
                </div>
            </div>
            <div class="form-group form-row">
              <label for="routing-number">Routing Number</label>
                        <input type="text" name="routing_number" id="routing_number" class="form-control"
                          [(ngModel)]="model.routing_number" #routing_number="ngModel"
                          [ngClass]="{ 'is-invalid': checkout.submitted &&  routing_number.invalid }" required  />
                        <div *ngIf="checkout.submitted && routing_number.invalid" class="invalid-feedback">
                          <div *ngIf="routing_number.errors.required"> Routing Number is required</div>
                        </div>
            </div>
          </div>

                        <div class="col-6" style="padding: 10px;">
                            <div class=" form-group form-row">
                              <label for="account-number">Account Number</label>
                            <input type="text" name="account_number" id="account_number" class="form-control" [(ngModel)]="model.account_number"
                              #account_number="ngModel" [ngClass]="{ 'is-invalid': checkout.submitted &&  account_number.invalid }" required
                               />
                            <div *ngIf="checkout.submitted && account_number.invalid" class="invalid-feedback">
                              <div *ngIf="account_number.errors.required"> Account Number is required</div>
                            </div>
                            </div>
                            
                            <div class="form-group form-row">
                              <label for="account_holder_type">Account Holder Type</label>
                                <select id="account_holder_type" name="account_holder_type" class="form-control" [(ngModel)]="model.account_holder_type" #account_holder_type="ngModel"
                                  [ngClass]="{ 'is-invalid': checkout.submitted && account_holder_type.invalid }" required
                                  style="background: none;color: white;height:45px; border: 3px solid #ffffff;border-radius: 7px;">
                                   <option value=""></option>

                                  <option value="individual" style="color: black;">Individual</option>
                                <option value="company" style="color: black;">Company</option>
                              </select>
                              <div *ngIf="checkout.submitted &&  account_holder_type.invalid" class="invalid-feedback">
                                <div *ngIf=" account_holder_type.errors.required">Account Holder Type is required</div>
                              </div>
                            </div>
                        </div>
          </div>
          <div class="text-center"><button type="submit" class="btn">Submit</button>
          </div>
          </form>
           