  
    <section class=" content">
        <div class="col-12" style="width: 100%;">
            <div class="card" *ngIf='pharmacylist.length !==0'>
               <div class="card-body">
                   <div class="row">
                       <div class="col-6 ">
                        <h4>Personal Details</h4>
                        <div class="row pt-1">
                            <div class="col-2"><img src="../../../../assets/images/female-pharmacist-home.jpg" width="70px " height="70px"
                                style="border-radius: 50%;" /></div>
                                <div class="col-9">
                                    <p class="name">{{name}}</p>
                                    <p>Title</p>
                                </div>
                        </div>
                       </div>
                       <div class="col-6">
                           <h4>Contact Details</h4>
                           <div class="pt-1">
                               <div class="d-flex"> 
                                   <div><p class="detailheding">E-mail</p></div>
                                    <div><p class="email">{{email}}</p></div>

                               </div>
                                <div class="d-flex">
                                    <div  >
                                        <p class="detailheding">Phone</p>
                                    </div>
                                    <div>
                                        <p class="phone">{{phone}}</p>
                                    </div>
                                
                                </div>
                           </div>
                            </div>
                   </div>
               </div>
            </div>
        </div>
        <div class="col-12 pb-5" style="margin-bottom: 100px;">
            <h4 *ngIf='pharmacylist.length !==0' >All Busines</h4>
            <div class="card " *ngFor="let item of pharmacylist;index as i;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <p class="pharmacyname">{{item.pharmacyName}}</p>
                             <p>{{item.pharmacyAddress}}</p>

                        </div>
                         <div class="col-3">
                          <p>{{item.phoneNumber}}</p>
                         </div>
                        <div class="col-2">
                          <p>{{item.licenseNumber}}</p>

                        </div>
                        <div class="col-3">
                          <p>Payment Method</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
         <div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf='pharmacylist.length === 0'>
                  <div class="card-body">
                    <div class=" text-center" >
                      <!-- <p class="text-center" style="font-size: 25px;">
                        No Records
                      </p> -->
                      <img src="../../../assets/images/nodata.jpg" height="350px"/>
                      <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
                      </div>
                    </div>
                  </div>
            </div>
    </section>
