

<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Reuse a Job Posting</h1>

        </div>

      </div>
      <!-- <div>
        <app-jobpost-progressbar></app-jobpost-progressbar>
      </div> -->
    </div>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-body">
            <h3 class="title">Job Name</h3>
            <div class="container">
            <form [formGroup]="formVar" class="detailform mt-5 mb-5" (ngSubmit)="onSubmit()">
              <div class=" row form-group pt-5">
                <div class="col-6">
                <label for="jobvisibility">Select a Job Post</label>
                </div>
                <div class="col-6">
                  <select class="form-control select2 select2-hidden-accessible"  placeholder="jobvisibility"
                  style="width: 100%" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName="jobName"  #mySelect
                (change)="onOptionsSelected(mySelect.value)" [ngClass]="{
                                    'is-invalid': submitted && f.jobName.errors
                                  }">
                  <option selected="selected" data-select2-id="3" *ngFor="let key of Object.keys(jobnamelist)"
                    value="{{ jobnamelist[key].jobReferenceId }}_{{ jobnamelist[key].jobName }}">
                    {{ jobnamelist[key].jobName }} </option>
                </select>
                <div *ngIf="submitted && f.jobName.errors" class="invalid-feedback">
                  <div *ngIf="f.jobName.errors.required">
                    job name is required </div>
                </div></div>
                
              </div>
           
                         <div class=" text-center mt-5">
                <div class="row" >
                                    <div class="col-2"> </div>

                  <div class="col-4">
                    <!-- <p class="leftarrow" style="cursor: pointer;"  (click)="goback()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                
                  </p>  -->
                  <button class="btn cancelbtn"  (click)="goback()">Cancel</button>
                  <button class ='btnleftarrow' (click)="goback()" style="float:right;"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </button> 
                </div>
                  <div class="col-4"   > 
                      <!-- <p class="rightarrow" style="cursor: pointer;" (click)="onSubmit()"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                
                  </p>  -->
                  <button class="btn previousbtn" type="submit">Continue</button>
                  <button class ='btn btnrightarrow' type="submit"  ><i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button> 
                 </div>
                                    <div class="col-2"> </div>

                </div>            
                <br />
    
                </div>
            </form>
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>

    </div>
  </section>
</div>