.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}

.success {
  display: block;
}
.black {
  display: none;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
}
.detailform {
  padding-left: 12rem;
  padding-right: 12rem;
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
}
input,
textarea {
  width: 100%;
  float: left;
  background: #e9e9e9;
}
label {
  /* font-family: Roboto; */
  font-size: 18px;
  /* line-height: 28px; */
  font-weight: 500;
}
.btn {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 20px;
  width: 180px;
  color: white;
}
.btnleftarrow,
.btnrightarrow {
  background-color: #00a3ff;
  display: none !important;
  color: white;
  padding: 5px;
  border-radius: 50px !important;
  width: 40px;
  height: 40px;
  border: 1px solid #00a3ff;
}
.previousbtn,
.cancelbtn {
  display: block;
}
@media only screen and (max-width: 768px) {
  .detailform {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }

  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px !important;
  }
  label {
    font-size: 16px;
  }
  .btnleftarrow,
  .btnrightarrow {
    background-color: #00a3ff;
    display: block !important;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 40px !important;
    height: 40px;
    border: 1px solid #00a3ff;
  }
  .previousbtn,
  .cancelbtn {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .detailform {
    padding-left: 5rem;
    padding-right: 5rem;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .btn {
    background: #00a3ff;
    border-radius: 11px;
    font-size: 20px;
    color: white;
  }
}
