<div class="table-responsive-sm">
  <table class="table table-borderless">
    <tr *ngFor="let item of hireData">
      <div class="card"  style="background: #F3F3F3;
            border-radius: 15px;">
    <div class="card-body">
      <div class="col-12">
        <div class="row">
          <div class="col-1">
            <img src="../../../../assets/images/female-pharmacist-home.jpg" width="70px " height="70px"
              style="border-radius: 50%;" />
          </div>
          <div class="col-3 pl-3">
            <p><b>{{ item.name }}</b></p>

          </div>
          <div class="col-2">
            <p><b>Finalized Amount:</b><br /> <span class="text-center pl-5">${{ item.finalizedAmount }}</span></p>

          </div>
          <div class="col-3">
            <p><b>Scheduled On</b><br /> {{ item.finalizedDateTime| date:medium }}</p>

          </div>
          <div class="col-3">
            <p *ngIf="item.status==='active'" style="color: green;"><b>Active</b></p>
            <p *ngIf="item.status==='waitingforpharmacist'" style="color: red;"><b>Waiting for Pharmacist</b></p>
          </div>


        </div>

      </div>
    </div>
  </div>
    </tr>
  </table>
</div>
  <div *ngIf='hireData.length !== 0'>
    <ngb-pagination [collectionSize]="collectionsizeee" [(page)]="page" (pageChange)="reloadDataa()" [pageSize]="10"
      [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
  </div>
  <div class="card p-3" style="width: 100%;
                                height: 550px;" *ngIf='hireData.length === 0'>
    <div class="card-body">
      <div class=" text-center">
        <!-- <p class="text-center" style="font-size: 25px;">
                No Records
              </p> -->
        <img src="../../../assets/images/nodata.jpg" height="350px" />
        <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
        </div>
      </div>
    </div>
  </div>

