.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.card {
  border-radius: 16px;
}

#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
.btnn {
  border: 1px solid #00a3ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #00a3ff;
}
.success {
  display: block;
}
.black {
  display: none;
}
.bttnn {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #0052cc;
  box-sizing: border-box;
  width: 100%;
  color: #0052cc;
}
.showall {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 29px;
  color: #00a3ff;
  cursor: pointer;
  padding: 6px;
  float: right;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.postingname {
  font-size: 18px;
  cursor: pointer;
}
.postingname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
.shedulename {
  font-size: 18px;
  cursor: pointer;
}
.shedulename:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
.hirepharmacistname {
  cursor: pointer;
}
.hirepharmacistname:hover {
  cursor: pointer;
  color: rgb(39, 94, 189);
}
.showstar {
  margin-top: -20px;
  /* margin-left: 105px; */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}
@media only screen and (max-width: 500px) {
  /* img {
    margin-left: -20px;
    width: 40px !important;
    height: 40px !important;
  }
  p {
    font-size: 9px !important;
  }
  h3 {
    font-size: 16px;
  } */
  th,
  td {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .postingname {
    cursor: pointer;
  }

  .showstar {
    margin-top: -20px !important;
    /* margin-left: 0px !important; */
  }

  .btnn {
    border: 1px solid #00a3ff;
    box-sizing: border-box;
    border-radius: 8px;
    color: #00a3ff;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  /* img {
    margin-left: -20px;
    width: 40px !important;
    height: 40px !important;
  }
  p {
    font-size: 9px !important;
  }
  h3 {
    font-size: 16px;
  } */
  .postingname {
    /* font-size: 12px; */
    cursor: pointer;
  }
  .showstar {
    margin-top: -20px;
    /* margin-left: 15px !important; */
  }

  .btnn {
    border: 1px solid #00a3ff;
    box-sizing: border-box;
    border-radius: 8px;
    color: #00a3ff;
    font-size: 10px;
  }
  th,
  td {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 992px) {
  img {
    margin-left: -20px;
    width: 70px;
    height: 70px;
  }
  p {
    font-size: 16px;
  }
  .showstar {
    margin-top: -20px;
    /* margin-left: 50px !important; */
  }
}
