<style>
 .owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    padding-right: 20px;}
    .owl-dots{
      display: none!important;
    }
</style>


<section>
  <div>
    <div class="col-xs-12 col-md-12 ">
      <div class="row">
        <div class="col-xs-12 col-md-4 " id="hero">
        </div>
        <div class="col-xs-12 col-md-8  divform">
          <div class="logindiv">
            <!-- <h3 class="card-title"></h3> -->
            <div class="row d-flex login">
              <div class="col-6">
                <h3 class="text-white ">Subscription
</h3>
              </div>
              <div class="col-6 float-right pr-4" ><button class="btn logout float-right" (click)='logout()'>Logout</button></div>
            </div>
            <p class="text-white" style="    font-size: 20px;
            ">Select your plan
            </p>
          </div>
<div class="col-12 pt-3">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
     

            <owl-carousel-o [options]="customOptions">

              <ng-container *ngFor="let item of card">

                <ng-template carouselSlide [id]="item.id" style="padding-right: 20px;">
                  <div class="card card-primaryy pl-3" style="    margin-right: 20px;"
                          [ngClass]="
              item.membershipId===pharmacyuserdetails.data.membershipId
                ? ''
                : 'cardcolor'
            ">
                    <div class="">
                      <h5 class="card-title pt-4 pl-3 ">{{ item.name }}</h5>
                    </div>
                    <div class="card-body">
                                            <h2>${{ item.monthlyCost }}<span style="font-size: 14px;">Per Month</span></h2>

                      <p class="mt-4"><i class="fa fa-check-circle" aria-hidden="true" style="color: #00CF21;"></i>
ContractLength:{{ item.contractLength }}</p>
                      <p><i class="fa fa-check-circle" aria-hidden="true" style="color: #00CF21
;"></i>
No Extra Fee</p>
                    </div>
                    <div class="text-center pb-3">
                      <button type="submit" class="btn  bton" 
                      [ngClass]="
              item.membershipId===pharmacyuserdetails.data.membershipId
                ? 'btn-primary'
                : 'btnnotselect'
            "
                      (click)="openpaymentcard(item.membershipId)">
                        
                      </button>
                    </div>
                  </div>
                </ng-template>

              </ng-container>

            </owl-carousel-o>

       <div *ngIf='card.length === 0' style="text-align: center; font-size: 25px;color: white;margin-top: 100px;"><p>No Records</p></div>
    </div>

  </div>
</div>

<div class="mb-5" style="margin-bottom: 5rem;" *ngIf='card.length != 0'>
  <button type="submit" style="margin-bottom: 3rem;" class="btn button  float-right mt-1 mr-5" (click)='gotonextpage()'>
    Continue
  </button>
</div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- End Hero -->