.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #00a3ff;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 500;
  padding: 10px 50px 10px 50px;
  font-style: normal;
  background-color: #ffffff;
}
.nav-pills .nav-link {
  color: #6c757d;
  font-size: 19px;
  display: flex;
  font-family: Roboto;
  padding: 10px 50px 10px 50px;
  font-style: normal;

  /* font-weight: 500; */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .nav-pills .nav-link {
    padding: 10px 10px 10px 10px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding: 10px 10px 10px 10px;
  }

  th,
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .nav-pills .nav-link {
    padding: 10px 10px 10px 10px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding: 10px 10px 10px 10px;
  }
}
