<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
      </div>
    </div>
  </div>
  <section class="content">
    <div class="">
      <div  style="overflow-x:auto;">
        <table class="table table-borderless">
          <tr >
            <ul class="nav nav-pills d-flex">
           <td>
            <li class="nav-item" >
              <a class="nav-link" [class.active]="isLinkActive('/pharmacy/jobpost/view')"
                [routerLink]="['/pharmacy/jobpost/view']" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="viewjobpost()">View Job Post
              </a>
            </li>
           </td>
          <td>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/invitepharmacy']" [routerLinkActive]="'active'"
                data-toggle="tab" (click)="invitepharmacy()">Invite Pharmacist
             </a>
            </li>
          </td>
            <td>
              <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/reviewproposal']" [routerLinkActive]="'active'"
                  data-toggle="tab" (click)="reviewproposal()">Review Proposal</a>
              </li>
            </td>
           <td>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/hire']" [routerLinkActive]="'active'"
                data-toggle="tab" (click)="hire()">Hire</a>
            </li>
           </td>
          </ul>
          </tr>
     
    
      <!-- /.card-header -->
      <tr>
        <div class="card">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
      </tr>
      
    </table>
  </div>
    </div>
  </section>
</div>