<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fa fa-bars"></i
      ></a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto mr-5">
    <li class="nav-item dropdown" title="Wallet Amount" (click)='gotowallet()'>
      <a class="nav-link" data-toggle="dropdown" href="#">
        <img
          src="../../../../../../assets/icons/Icon.png"
          style="height: 16px"
        />
        <span
          class="pl-2"
          style="
            color: #00a3ff;
            font-family: Rubik;
            font-style: normal;
            font-weight: 600;font-size: 18px;
          "
          >{{ waletpoint/100 }}</span
        >
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <!-- <span class="badge badge-danger navbar-badge">3</span> -->
      </a>
    </li>
  </ul>
</nav>
<aside class="control-sidebar control-sidebar-dark" style="display: block">
  <!-- Control sidebar content goes here -->
  <div class="p-3 control-sidebar-content">
    <h5>Customize AdminLTE</h5>
    <hr class="mb-2" />
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >No Navbar border</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Body small text</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Navbar small text</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Sidebar nav small text</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Footer small text</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Sidebar nav flat style</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Sidebar nav legacy style</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Sidebar nav compact</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Sidebar nav child indent</span
      >
    </div>
    <div class="mb-1">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Main Sidebar disable hover/focus auto expand</span
      >
    </div>
    <div class="mb-4">
      <input type="checkbox" value="1" class="mr-1" /><span
        >Brand small text</span
      >
    </div>
    <h6>Navbar Variants</h6>
    <div class="d-flex">
      <div class="d-flex flex-wrap mb-3">
        <div
          class="bg-primary elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-secondary elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-info elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-success elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-danger elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-indigo elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-purple elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-pink elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-navy elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-lightblue elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-teal elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-cyan elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-dark elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-gray-dark elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-gray elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-light elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-warning elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-white elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
        <div
          class="bg-orange elevation-2"
          style="
            width: 40px;
            height: 20px;
            border-radius: 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0.8;
            cursor: pointer;
          "
        ></div>
      </div>
    </div>
    <h6>Accent Color Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
      <div
        class="bg-primary elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-warning elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-info elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-danger elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-success elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-indigo elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lightblue elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-navy elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-purple elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-fuchsia elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-pink elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-maroon elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-orange elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lime elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-teal elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-olive elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
    </div>
    <h6>Dark Sidebar Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
      <div
        class="bg-primary elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-warning elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-info elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-danger elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-success elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-indigo elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lightblue elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-navy elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-purple elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-fuchsia elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-pink elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-maroon elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-orange elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lime elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-teal elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-olive elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
    </div>
    <h6>Light Sidebar Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
      <div
        class="bg-primary elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-warning elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-info elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-danger elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-success elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-indigo elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lightblue elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-navy elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-purple elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-fuchsia elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-pink elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-maroon elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-orange elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lime elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-teal elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-olive elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
    </div>
    <h6>Brand Logo Variants</h6>
    <div class="d-flex"></div>
    <div class="d-flex flex-wrap mb-3">
      <div
        class="bg-primary elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-secondary elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-info elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-success elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-danger elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-indigo elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-purple elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-pink elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-navy elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-lightblue elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-teal elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-cyan elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-dark elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-gray-dark elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-gray elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-light elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-warning elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-white elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <div
        class="bg-orange elevation-2"
        style="
          width: 40px;
          height: 20px;
          border-radius: 25px;
          margin-right: 10px;
          margin-bottom: 10px;
          opacity: 0.8;
          cursor: pointer;
        "
      ></div>
      <a href="javascript:void(0)">clear</a>
    </div>
  </div>
</aside>
