<div class="content-wrapper" >
    <div class="content-header">
        <h1 class="m-0 text-dark">Payment Method</h1>
  
    </div>
    <section class="content">
        <div class="row">  
  
    <div class=" col-xs-12 col-md-12 col-xl-12">
            <!-- <div class="card" style="width: 100%;">
         
        <div class="card-body" >
            <div class="row d-flex login">
                <h5 class=" ">Select Your Payment Method</h5>
            </div>
        </div>
    </div> -->
        <div class=" col-xs-12 col-md-12 col-xl-12">
                <div class="row">
                    <div class="card" style="width: 100%;">
                        <div class="card-body" >
                            <p style="color: #00A3FF;cursor: pointer;" (click)='backtoviewcard()'> <i class="fa fa-angle-left pr-2" aria-hidden="true"></i>
                                Back To Card Details</p>
                        </div>
                        <!-- <p>                            Select Your Payment  Modes
                        </p> -->
                     <div>
                      <!-- <form [formGroup]="formVar">
                          <div class="row pb-4 pt-3">
                              <div class="col-2"></div>
                            <div class="col-5 d-flex" *ngFor="let option of Paymentmethod">
                              <div>
                                <input style="width: 50px;margin-top: 7px;" formControlName='Paymentmethod' (change)='opencc(option.Value)'
                                  class="form-control" type="radio" [value]="option.Value" class="form-inline" name="Paymentmethod" />
                                </div>
                              <div class="">{{option.key}}</div>
                            </div>
                          </div>
                      </form> -->
                      <div>
                          <router-outlet></router-outlet>
                      </div>
                     </div>
  
                    </div>    
            </div>
        </div>
    </div>
        </div>
  </section>
  </div>