<div class="col-12">
    <div class="row">
        <div class="col-sm-9">
            <div class="card p-3">
                <div class="card-body">
                    <div *ngFor="let item of proposaldetails">
                        <h5>Description</h5>
                        <p>{{ item.jobDescription }}</p>
                        <h5 class="pt-2">Skills</h5>
                        <div class="d-flex pr-3">
                            <div *ngFor="let itemm of item.softwareProficiency" class="p-2 m-2"
                                style="border: 1px solid #007bff;display: flex;">{{ itemm.skill }}</div>
                        </div>
                        <h5 class="pt-2">Question</h5>
                    <div *ngFor="let itemm of item.screeningQuestions">
                           <p><b>- {{ itemm.question }}</b></p> 
                           <p style="margin-top: -10px;">     {{itemm.answer}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card p-3">
                <div class="card-body">
                    <div *ngFor="let item of ratingreview">
                    <h5>Work History</h5>
                    <div>
                        <p>0 Hours Worked</p>
                        <p>0 Jobs</p>
        
                    </div>
                    <h5>Rating & Reviews</h5>
                    <h5>{{item.ratings}}<span style="font-size: 10px;">Rating</span></h5>
                    <div class="row pt-2">
                        <div class="col-3"><img src="../../../../assets/images/female-pharmacist-home.jpg" width="50px " height="50px"
                            style="border-radius: 50%;" /></div>
                         <div class="col-9">
                             <div class="pt-2"><h5>{{item.firstname}}{{item.lastname}}</h5></div>
                             <div><p>{{item.description}}</p></div>
                         </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>