<!-- ======= Hero Section ======= -->
<section 
>
<div >
  <div class="col-md-12 col-xs-6">
    <div class="row">
      <div class="col-md-6 col-xs-6" id="hero"></div>
      <div class="col-md-6 col-xs-6 divform">
        <div class="logindiv">


          <div class="row">
            <div class="col-10">
              <h1 class="text-white login" *ngIf='verifird===true'>Verify Email</h1>
              <div *ngIf='loginn===true'><p style="font-family:roboto;font-size:22px;color: white;padding-top: 12px;">Your Verification Code Verifed Successfully</p></div>

            </div>
          <div  class="col-2 imgg" (click)='gosignup()' title="Go To Signup"><img src="../../../../assets/icons/Vector@2x.png"/></div>
        </div>
        <div class="text-white" *ngIf='verifird===true'>
          <p>For your security, we need to authenticate your request.
             We've sent an OTP to the Email. Please enter it below to complete verification.</p>
        </div>
          <div class=" text-white" *ngIf='verifird===true'>
            <p>Enter Your Email Verification Code</p>
          </div>
          <form class="pt-3" [formGroup]="formVar" (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf='verifird===true'>
              <input
                type="text"
                class="form-control"
                style="  background-color: #172b4d !important;
                "
                formControlName="code"
                [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
              />
              <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.code.errors.required">Code is required</div>
                <div *ngIf="f.code.errors.pattern">
                  Code must be a 6 digit number
                </div>
              </div>
            </div>
           
           <div class="text-link" *ngIf='verifird===true'><a class="btn-link" style="color: #00A3FF;cursor: pointer;" (click)='resendcode()'>Resend Code </a></div>
           <p class="text-danger">{{errorMessage}}</p>
           <div class="row">
         <div class="col-5 float-left mt-5">
          <!-- <label class="form-check-label"><a (click)='login()' title="Click here" style="color: #0052cc;cursor: pointer;font-size: 20px;    font-weight: 700;
            "><b>Login</b> </a></label> -->
        </div>
        <div class="col-7 float-right mt-5">
          <!-- <button type="submit" class="btn btn-primary text-center float-right">
            Submit
          </button> -->
          <input class="inputt" type="submit" value="Submit" style="float: right;" *ngIf='verifird===true'>
          <input class="inputt" type="submit" value="Login" style="float: right;" *ngIf='loginn===true' (click)='login()'>

        </div>
       </div>
          
          
          </form>
        </div>

       
       
      </div>

    </div>
  </div>
</div>
</section>
<!-- End Hero -->
