
<div class="content-wrapper" style="min-height: 1203.6px">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Change Password</h1>

                </div>

            </div>
           
        </div>
    </div>
    <section>
        <div class="card" style="height: 570px;">
            <div class="card-body">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-1"></div>
                        <div class="col-md-6 col-xs-12 col-sm-10" >
                            <div style="margin-top: 90px;">
                            <div (click)='goback()' style="color: #00A3FF;cursor: pointer;"><p><i class="fa fa-angle-left px-2 py-1" aria-hidden="true" ></i>Go To User Pofile</p></div>
                            <div class="card " >
                                <div class="card-body pb-4 login-card-body">
                                    <p class="login-box-msg">You are only one step a way from your new password, recover your password
                                        now.</p>
                
                                    <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
                                        <div class="input-group mb-3">
                                            <input  class="form-control" placeholder="email"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-envelope"></span>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">email is required</div>
                                                <div *ngIf="f.email.errors.pattern">
                                                    Must be a valid email address
                                                  </div>
                                            </div>
                                        </div>
                                       
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" placeholder="old Password" formControlName="oldPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-lock"></span>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                                            </div>
                                        </div>
                
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fa fa-lock"></span>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                            </div>
                                        </div>
                                        <p class="text-danger">{{errorMessage}}</p>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">Change password</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </form>                
                                </div>
                                <!-- /.login-card-body -->
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

