

<footer class="main-footer ">
    <div class="float-left d-none d-sm-block">
    </div>
    <strong style="font-size: 12px;">Copyright © 2021 <a href="http://covermyday.com">Cover My Day</a>.</strong> All rights reserved.
  </footer>