<div>
  <table>
    <tr>
      <td style="width: 30%;">
        <div>
          <table>
            <tr
              *ngFor="let item of pharmacistpoposalname"
              style="cursor: pointer"
              (click)="
                startconvertion(
                  item.jobpostId,
                  item.pharmacistId,
                  item.jobpostReferenceId,
                  item.pharmacistReferenceId
                )
              "
            >
              <td>
                <div>
                  <p>
                    <img
                      src="../../../../assets/images/female-pharmacist-home.jpg"
                      width="70px "
                      height="70px"
                      style="border-radius: 50%"
                    />
                  </p>
                </div>
              </td>
              <td>
                <div>
                  <p>{{ item.firstname }} {{ item.lastname }}</p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td style="width: 100%;">
        <div>
          <div>
            <div class="col-12">
              <div class="row" *ngFor="let item of listmessage">
                  <div class="col-6" *ngIf="item.sender === 2">{{item.message}}</div>
                  <div class="col-6" *ngIf="item.sender === 1">{{item.message}}</div>
              </div>
            </div>
            <form
              [formGroup]="formVar"
              class="detailform mt-5 pt-5"
              (ngSubmit)="onSubmit()"
            >
              <input
                type="text"
                class="form-control"
                formControlName="message"
              /><span><button>send</button></span>
            </form>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
