#hero {
  width: auto;
  height: 720px;
  background: url("../../../../assets/images/Frame 6.png") no-repeat, center;
  background-size: 100% 100%;
}
.divform {
  background: hsl(218, 54%, 20%);
  /* height: 710px; */
}
.login {
  /* font-family: Roboto; */
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 100px;
  padding-left: 95px;
  padding-right: 145px;
}
.inputt[type="submit"] {
  background-color: white;
  border: #0052cc;
  border-radius: 116px;
  color: #0052cc;
  padding: 10px 30px 10px 30px;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
textarea:focus,
.inputt:focus {
  border-radius: 116px;
  /* border: 2px solid black; */
  /* outline: none; */
  /* outline: 116px; */
}
form input {
  background-color: none !important;
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
  .fff {
    display: none;
  }
  .logindiv {
    padding-top: 100px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .login {
    /* font-family: Roboto; */
    font-weight: normal !important;
    line-height: 61px !important;
    padding-right: 4rem !important;
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.success {
  display: block;
}
.black {
  display: none;
}
