<!-- ======= Hero Section ======= -->


<section 
>
<div >
  <div class="col-xs-12  col-md-12 ">
    <div class="row">
      <div class="col-xs-12 col-md-6 fff hidden-sm"  id="hero">
      </div>
      <div class="col-xs-12  col-md-6  divform">
        <div class="logindiv">
          <h1 class="text-white login">Login</h1>
          <form class="pt-5" [formGroup]="formVar" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Username or E-mail </label>
              <input
                type="email"
                class="form-control"
                style="background: none;"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Must be a valid email address
                </div>
              </div>
            </div>
      
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Password</label>
              <input
                type="password"
                class="form-control"
                style="background: none;"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          <div class="row pt-3">
            <div class="col-6 ">
              <div class=" mb-2">
                <div class=" mb-3 ">

            <label class="form-check-label">New to HIRE? <a (click)='signup()' style="color: #40adfa;cursor: pointer;"><b>Sign Up</b> </a></label>
          </div>
             
              </div>
            </div>
            <div class="col-6">
                <div class="form-check mb-2 float-right">
              <label class="form-check-label" for="isAgreePrivacy"
               (click)='forgotpass()' style="cursor: pointer;color: #40adfa;" >Forgot Password ? </label
              >
           
            </div>
            </div>
         

          </div>

                    <div class="float-right" style="margin-bottom: 80px;"> 
                      <!-- <input type="submit" class="btn  text-center">
                      Login
                    </button> -->
                    <input class="inputt" type="submit" value="Login">

                    </div>
                    <!-- {{errorMessage}} -->
            <div class="mt-1" *ngIf='errorMessage!==null' >
              <p class="text-danger">
               
                {{ errorMessage }}
              </p>
            </div>
        
          </form>
        </div>

       
       
      </div>

    </div>
  </div>
</div>
</section>
<!-- End Hero -->
