.navbar {
  display: none;
}
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
}
.success {
  display: block;
}
.black {
  display: none;
}
.btnn {
  background: #00a3ff;
  border: #00a3ff;
  color: white;
  font-size: 25px;
  padding: 5px 40px 5px 40px;
  border-radius: 14px;
}
.card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.img {
  background-image: url("../../../../../assets/images/Rectangle 1613.png");
}
.imgdiv {
  padding-top: 100px;
}
.text {
  padding-top: 12rem;
}
@media only screen and (max-width: 768px) {
  .imgg {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 100px;
  }
}
