

         <div class="col-sm-12">
             <div class="row">
                 <div class="col-5">
              <div class="card" style="height: 680px;">
                  <div class="text-center imgdiv">  
                       <img src="../../../../assets/images/female-pharmacist-home.jpg" width="70px " height="70px"
                    style="border-radius: 50%;" />
                    <p class="pt-1" style="font-size: 24px; font-weight: 500;">{{name}}</p>
                </div>
                  <div class="card-body img">
                      <div class="text-center text-white text">
                     
                        <p style="font-size: 20px;font-weight: 500;">Available point
                        </p>
                        <p style="font-size: 50px;font-weight: 600;">${{points/100}}</p>
                    </div>

                     \
                  </div>
              </div>

                 </div>

                 <div class="col-7">
                             <h4>History</h4>
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <div class="d-flex row " *ngFor="let item of walletlist">
                                            <div class="col-8"> 
                                                 <div class="d-flex">
                                                      <div class="pr-5" style="font-family: Rubik;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 20px;
                                                ">+</div>
                                                <div *ngIf='item.transactionType==="buyPoints"' style="font-family: 'FontAwesome';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;margin-top: -10px;
                                    ">Buy Points<br/>
                                    <p style="font-size: 14px;">{{item.createdAt | date:" dd MMM "}}</p>
                                    </div>
                                    <div *ngIf='item.transactionType==="hirePharmacist"' style="font-family: 'FontAwesome';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;margin-top: -10px;
                                    ">Hire Pharmacist<br/>
                                    <p style="font-size: 14px;">{{item.createdAt | date:" dd MMM "}}</p>
                                    </div>
                                    <div *ngIf='item.transactionType==="Voucher Redeemed"' style="font-family: 'FontAwesome';
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;margin-top: -10px;
                                    ">Redeem Voucher<br/>
                                    <p style="font-size: 14px;">{{item.createdAt | date:" dd MMM "}}</p>
                                    </div>
                                </div>
                                        </div>
                                              <div class="col-4 ">  
                                                  <div *ngIf='item.transactionType==="buyPoints"' class="float-right" style="font-family: Rubik;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 20px;
                                                color: #00FF66;
                                                "><span class="pr-2">+</span>${{item.amount/100}}</div>
                                                  <div class="float-right" *ngIf='item.transactionType==="hirePharmacist"' style="font-family: Rubik;
                                                  font-style: normal;
                                                  font-weight: normal;
                                                  font-size: 20px;
                                                  color: #FF0F00;"><span class="pr-2">-</span>${{item.amount/100}}</div>
                                                        <div class="float-right" *ngIf='item.transactionType==="Voucher Redeemed"' style="font-family: Rubik;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 20px;
                                                        color: #00FF66;
                                                        "><span class="pr-2">+</span>${{item.amount/100}}</div>
                                            </div>  
                                            
                                    
                                            </div>
                                        <div class="mt-1" *ngIf='walletlist.length !== 0'>
                                            <ngb-pagination
                                            [collectionSize]="collectionsize"
                                            [(page)]="page"
                                            (pageChange)="reloadDataa()"
                                            [pageSize]="10"
                                            [maxSize]="4"
                                            [boundaryLinks]="true"
                                        ></ngb-pagination>
                                        </div>
                                    
                                            <div class="card-body"  *ngIf='walletlist.length === 0'>
                                                <div class="mt-1">
                                                    <p class="text-center" style="font-size: 25px;">
                                                        No Records
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                 </div>

             </div>
         </div>   
  




