.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
/* input[type="date"] {
  font-size: 13px;
} */
#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.leftarrow,
.rightarrow {
  background-color: white;
  border: none;
  /* outline: none; */
}
input[type="time"] {
  width: 150px;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
.successs {
  display: block;
}
.blackk {
  display: none;
}
.showfield {
  display: flex;
}
.totalcost {
  float: right;
  padding-right: 40px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
}
.detailform {
  padding-left: 12rem;
  padding-right: 12rem;
  /* border: 0.5px solid #afafaf; */
  box-sizing: border-box;
  border-radius: 16px;
}
.costform {
  padding-left: 12rem;
  padding-right: 15rem;
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
}

input,
textarea,
select {
  width: 100%;
  float: left;
  background: white;
}
label {
  /* font-family: Roboto; */
  font-size: 18px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500 !important;
}
.notdisplay {
  display: none;
}
.savebtn,
.rightarrow,
.leftarrow {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 22px;
  width: 180px;
  border: 1px solid #00a3ff;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btnleftarrow,
.btnrightarrow {
  background-color: #00a3ff;
  display: none !important;
  color: white;
  padding: 5px;
}
.leftarrow,
.rightarrow {
  display: block;
}
@media only screen and (max-width: 420px) {
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
  }
  label {
    font-size: 14px;
  }
  /* h3 {
    font-size: 18px !important;
  } */
  .btnleftarrow,
  .btnrightarrow {
    background-color: #00a3ff;
    display: block !important;
    color: white;
    padding: 3px;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #00a3ff;
  }
  .leftarrow,
  .rightarrow {
    display: none;
  }
  .savebtn {
    width: 100%;
  }
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 768px) {
  .detailform {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .costform {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .btnleftarrow,
  .btnrightarrow {
    background-color: #00a3ff;
    display: block !important;
    color: white;
    padding: 3px;
    border-radius: 50px;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #00a3ff;
  }
  .leftarrow,
  .rightarrow {
    display: none;
  }
  .savebtn {
    width: 100% !important;
  }
  h5 {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 992px) {
  .detailform {
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .costform {
    padding-left: 5rem;
    padding-right: 7rem;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
}
