<div class="content-wrapper" >

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
          <h1 class="m-0 text-dark">Post a New Job</h1>
        
        <!-- <p (click)="goback()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </p> -->
      </div>
     
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Jobpost</li>
        </ol>
      </div> -->
    </div >
    <div [ngClass]="Editt?'notdisplay':'display'">
          <app-jobpost-progressbar></app-jobpost-progressbar>

    </div>

  </div>
</div>


  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
            <div class="card-body" style="border-bottom: 0.5px solid #afafaf;">
                          <h5 class="card-title title">Budget And Timing</h5>

          </div>

            <form [formGroup]="formVar" class=" mt-5" (ngSubmit)="onSubmit()">

              <div class="card-body detailform">
                <div class="row form-group" data-select2-id="13">
                  <div class="col-6"> <label for="exampleFormControlTextarea1"
                    >How would you like to pay the pharmacist</label
                  ></div>
                 <div class="col-6">
                 
               <div class="selectPartner d-flex">
                 <div class="d-flex" *ngFor="let option of paymentType">
                   <div>
                     <input style="width: 50px;margin-top: 7px;"
 formControlName="paymentType" (change)='onOptionsSelected(option.Value)'
                      class="form-control" type="radio" [value]="option.Value" class="form-inline" name="paymentType" /></div>
                  <div>{{option.key}}</div>
                 </div>
              <!-- <select
              placeholder="jobvisibility"
                class="form-control"
                name="selectedQuantity"
                [(ngModel)]="selectedQuantity"
                id="partner"
                class="form-control"
                style="width: 100%"
                formControlName="paymentType"
  [ngClass]="{
                      'is-invalid': submitted && f.paymentType.errors
                    }"
                #mySelect
              >
                >
                <option *ngFor="let option of paymentType" [value]="option.Value">{{
                  option.key
                }}</option>
              </select> -->

                <!-- <div *ngIf="submitted && f.paymentType.errors" class="invalid-feedback">
                  <div *ngIf="f.paymentType.errors.required">
                    paymentType is required
                  </div>
                </div> -->
            </div>
                </div>
                </div>
                <div class="row form-group" 
                 >
                  <div class="col-6">
                
                          <label for="exampleFormControlTextarea1">{{label}}</label>
                </div>
                  <div class="col-6">
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="value"
                    formControlName="fixedPrice"
                    [ngClass]="{
                      'is-invalid': submitted && f.fixedPrice.errors
                    }"
                  /></div>
                  <div
                    *ngIf="submitted && f.fixedPrice.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.fixedPrice.errors.required">
                      <!-- {{label}} is required -->
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-6"> <label for="exampleFormControlTextarea1"
                    >Enter  Date</label
                  ></div>
                  <div class="col-6">
                   <div class="row">
                  <div class="col-12">
                   <div class="row">
                    <!-- <div class="col-3">
                      <p>From</p>
                    </div> -->
                    <div class="col-12">
                      <input
                        type="date"
                        class="form-control"
                        formControlName="startDate"
                         min={{todaysdate}}
                        [ngClass]="{
                          'is-invalid': submitted && f.startDate.errors
                        }"
                      />
                        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                          <div *ngIf="f.startDate.errors.required">
                            Start date is required
                          </div>
                        </div>
                    </div>
                   </div>
                  </div>
                  
                   </div>
                   </div>
                </div>

                <div class="row form-group">
                  <div class="col-6"> <label for="exampleFormControlTextarea1">Enter Required time</label></div>
                  <div class="col-6">
                    <div class="d-flex">
                      <div >
                        <div class="d-flex">
                          <div class="mr-3">
                            <p>From</p>
                          </div>
                          <div >
                            <input type="time" id="" class="form-control" formControlName="startTime" 
                            (change)="changetime()"
                             [ngClass]="{
                                              'is-invalid': submitted && f.startTime.errors
                                            }"
                                             />
                            <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                              <div *ngIf="f.startTime.errors.required">
                                Start time is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ml-4">
                       <div class="d-flex">
                        <div class="mr-3" >
                          <p>To</p>
                        </div>
                        <div >
                          <input type="time"
                          (change)="changeendtime()"
                          class="form-control" formControlName="endTime" [ngClass]="{
                                            'is-invalid': submitted && f.endTime.errors
                                          }"  />
                          <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
                            <div *ngIf="f.endTime.errors.required">
                              End time is required
                            </div>
                          </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="row form-group">
                  <div class="col-6"> <label for="exampleFormControlTextarea1">Enter End Time</label></div>
                 
                
                </div> -->

              </div>
                        <div class="card-body"  [ngClass]="value>0 ? 'successs' : 'blackk'">
                          <h5>Total Expected Cost</h5>
                        
                        
                          <div class=" costform " style="    margin-top: 1rem;
                                                      padding-top: 1rem;
                                                     padding-bottom: 1rem;
                                                      font-weight: 500;">
                            <p>
                              Total Amount Payable To Each Pharmacist
                              <span class="totalcost">{{ value }}</span>
                            </p>
                        
                             <p *ngIf='label==="Enter The Hourly Rate"'>
                              Total Time(Hr)<span class="totalcost">{{mins
                                                        }}</span>
                            </p> 
                            <!-- <p *ngIf='label==="Enter the Fixed Price"'>
                              Total Time(Hr)<span class="totalcost">0</span>
                            </p> -->
                            <p>
                              Hire Charges
                              <span class="totalcost">{{ hirechargevalue }}</span>
                            </p>
                            <p>
                              Total
                              <span class="totalcost" *ngIf='label==="Enter The Hourly Rate"'>${{
                                                         (value *
                                                         finalmin)+
                                                            hirechargevalue
                                                        }}</span>
                                                        <span class="totalcost" *ngIf='label==="Enter the Fixed Price"'>${{
                                                          (value)+
                                                             hirechargevalue
                                                         }}</span>
                            </p>
                          </div>
                        </div>
              <div class=" card-body text-center mt-5">
                <div class="row detailform" >
                  <div class="col-4"><button class="leftarrow"  (click)="goback()">
                Prevoius
                  </button> 
                  <button class ='btnleftarrow' (click)="goback()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </button>  
                </div>
                  <div class="col-4"> <button type="submit" class="savebtn">Save</button
                    ></div>
                  <div class="col-4">   <button class="rightarrow" (click)="clickContinue()">
                Next
                  </button>  
                  <button class ='btnrightarrow' (click)="clickContinue()" style="float:right;"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button> 
                </div>
                </div>            
                <br />
    
                </div>
            </form>
            
            <!-- /.tab-content -->
        </div>
      </div>

    
    </div>
  </section>
</div>
