.success {
  display: block;
}
.black {
  display: none;
}
.iconarchived {
  color: #007bff;
}
.notarchive {
  color: black;
}
.iconshortlisted {
  color: #007bff;
}
.hiredetails {
  font-size: 16px;
  font-weight: 700;
}
span {
  font-size: 15px;
  font-weight: 500;
}
a[title] {
  border: none;
}
.modall {
  text-align: center;
  background: #0052cc;
  color: white;
  height: 60px;
  padding-top: 8px;
}
.btton {
  background: #007bff;
  border-radius: 18px;
  color: white;
  font-size: 18px;
}
i[title]:hove {
  background-color: black;
}
.disabled::before {
  content: "Hired ";
}
.ttt::before {
  content: "Hire ";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}
.notdisplay {
  display: none;
}
.display {
  padding-bottom: 10px;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}

td {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media only screen and (max-width: 992px) {
  td {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 1200px) {
  td {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 1300px) {
  td {
    text-align: left;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
