.success {
  display: block;
}
.black {
  display: none;
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 25px;
}
.card {
  border-radius: 14px;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  color: red;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.contractname {
  font-size: 18px;
  cursor: pointer;
}
.contractname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
  text-decoration: underline;
}
/* .stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
} */
.display {
  color: #f8ce0b;
  font-size: 25px;
}
.notdispl {
  color: #d6d3d3;
  font-size: 25px;
}
.timesss {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.btn {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 18px;
  color: white;
  width: 100px;
}
.fa-star {
  cursor: pointer;
}
.writeratingstar:hover {
  background-color: #b9b8b2;
}
h6,
p {
  font-family: roboto;
}
.card {
  width: 95%;
  padding: 1.5rem;
}
.showstar {
  margin-left: 125px;
  font-size: 25px;
}
.star {
  text-align: center;
  margin-left: 135px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    padding: 1rem;
  }
  img {
    margin-left: -15px;
  }
  .showstar {
    margin-left: 120px;
    font-size: 25px;
  }
  .star {
    text-align: center;
    margin-left: 120px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .showstar {
    margin-left: 50px;
    font-size: 25px;
  }
  .star {
    text-align: center;
    margin-left: 50px;
    padding-bottom: 10px;
  }
  .card {
    width: 100%;
    padding: 0.5rem;
  }
}
