<section>
<div class="col-xs-12 col-md-12 ">
  <div class="row">
    <div class="col-xs-12 col-md-6 " id="hero"></div>
    <div class="col-xs-12 col-md-6  divform" >
      <div class="signupdiv ">
        <div class="row">
          <div class="col-8"><h1 class="text-white signup">Sign Up</h1></div>
          <div class=" col-4 imgg" (click)='gologin()'><img src="../../../../assets/icons/Vector@2x.png"/></div>
        </div>
   
      <form class="pt-0" [formGroup]="formVar" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleFormControlInput1">First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstname"
                      maxlength="25"
                              (keypress)='onlyText($event)'

            style="  background-color: #172b4d !important;  "
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
          />
          <div
            *ngIf="submitted && f.firstname.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.firstname.errors.required">
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Last Name</label>
          <input
            type="text"
            class="form-control"
            style="  background-color: #172b4d !important;  "
          maxlength="25"
                    (keypress)='onlyText($event)'
            formControlName="lastname"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
          />
          <div
            *ngIf="submitted && f.lastname.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.lastname.errors.required">
              Last Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Email</label>
          <input
            type="email"
            class="form-control"
            style="  background-color: #172b4d !important;  "

            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">
              Must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Phone Number</label>
          <input
            type="text"
            class="form-control"
            style="  background-color: #172b4d !important;  "
          (keypress)='onlyNumber($event)'
          maxlength="10"
            formControlName="phone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
          />
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
            <div *ngIf="f.phone.errors.pattern">
              Phone No must be a 10 digit number
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Password</label>
          <input
            type="password"
            class="form-control"
            style="  background-color: #172b4d !important;  "

            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div
            *ngIf="submitted && f.password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-7"><div class="form-check ">
            <input
              type="checkbox"
              formControlName="isAgreePrivacy"
              class="form-check-input"
                                style="    margin-top: 9px;"

              [ngClass]="{ 'is-invalid': submitted && f.isAgreePrivacy.errors }"
              (change)="toggleEditable($event)"/>
            <label class="form-check-label" for="isAgreePrivacy"
              >I agree with <a >Privacy Policy</a></label
            >
            <div
              *ngIf="submitted && f.isAgreePrivacy.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.isAgreePrivacy.errors.required">
                Select Checkbox to complete Signup process.
              </div>
            </div>
          </div></div>
          <div class="col-5 signupp"><div class="float-right">
            <input class="inputt" type="submit" value="Signup">

          </div></div>
        </div>
<div class="float-right smallscreensignup pb-5">
  <div class="float-right">
    <!-- <button type="submit" class="btn  text-center">
      Sign Up
    </button> -->
    <input class="inputt" type="submit" value="Sign Up">

  </div>
</div>
        <div class="mt-1" *ngIf ="errorMessage!=''">
          <p class="text-danger">
            
            {{ errorMessage }}
          </p>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
</section>

<!-- End Hero -->
