#hero {
  width: auto;
  height: 720px;
  background: url("../../../../assets/images/Frame 6.png") no-repeat, center;
  background-size: 100% 100%;
}
.divform {
  background: #172b4d;
}
.signup {
  /* font-family: Roboto; */
  font-weight: normal;
  line-height: 61px;
  /* padding-right: 10rem; */
}
.inputt[type="submit"] {
  background-color: white;
  border: #0052cc;
  border-radius: 116px;
  color: #0052cc;
  padding: 10px 30px 10px 30px;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.imgg {
  /* padding-left: 8rem; */
  cursor: pointer;
}
img {
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  width: 35px;
  margin-top: 25px;
  padding: 7px;
  float: right;
}
.signupdiv {
  padding-top: 15px;
  padding-left: 95px;
  padding-right: 145px;
}
form input {
  background-color: none !important;
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
.form-group {
  margin-bottom: 0.5rem;
}

.smallscreensignup {
  display: none;
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  .signupdiv {
    padding-top: 100px !important;
    padding-left: 30px !important;
    padding-right: 50px !important;
  }
  .imgg {
    padding-left: 5px !important;
  }
  .signup {
    /* font-family: Roboto; */
    font-weight: normal !important;
    line-height: 61px !important;
    padding-right: 3rem !important;
    font-size: 30px !important;
  }
  .signupp {
    display: none;
  }
  .smallscreensignup {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .signupdiv {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .imgg {
    padding-left: 5px;
  }
  .signup {
    /* font-family: Roboto; */
    font-weight: normal;
    line-height: 61px;
    padding-right: 5rem;
  }
  .signupp {
    display: none;
  }
  .smallscreensignup {
    display: block;
  }
}
