#hero {
  width: auto;
  height: 715px;
  background: url("../../../../../assets/images/Rectangleimg.jpg") no-repeat,
    center;
  background-size: 100% 100%;
}
.divform {
  background: #172b4d;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  height: 720px;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
}

form input {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
  background: none;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.btn {
  background-color: white;
  border-radius: 116px;
  padding: 8px 25px 8px 25px;
  color: #0052cc;
  font-size: 25px;
  font-weight: 500;
}

.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.skip {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 30px 10px 30px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .logindiv {
    padding-top: 70px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .logout {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
