

  <section>
    <div>
      <div class="col-xs-12 col-md-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-xl-4 profile" id="hero">
          </div>
          <div class="col-xs-12 col-md-8 col-xl-8 divform">
            <div class="logindiv">
              <!-- <h3 class="card-title"></h3> -->
              <div class="row d-flex login">
                <div class=" col-9">
                  <div >
                    <div>
                      <h4 class="text-white ">Select your payment method</h4>
                    </div>
                  </div>
                </div>
                <div class="col-3 float-right "><button class="btn logout float-right"
                    (click)='logout()'>Logout</button></div>
              </div>

                <!-- <form [formGroup]="formVar">
                  <div class="row pb-5 pt-3">
                    <div class="col-6 d-flex" *ngFor="let option of Paymentmethod">
                      <div>
                        <input style="width: 50px;margin-top: 7px;" formControlName='Paymentmethod' (change)='opencc(option.Value)'
                          class="form-control" type="radio" [value]="option.Value" class="form-inline" name="Paymentmethod" />
                        </div>
                      <div class="text-white">{{option.key}}</div>
                    </div>
                  </div>
                </form> -->
  
        <div>
            <p class="text-white mt-5" style="    font-size: 20px;
              ">{{title}}
            
            </p>
            <router-outlet></router-outlet>
            <div class="float-right">
              <button class="skip btn" (click)='gotodashboard()'>Skip</button>
            </div>
        </div>
            </div>
  
            
          </div>
  
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->