.divform {
  background: white;
  padding-left: 30px;
  padding-right: 30px;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 30px;
  /* padding-left: 60px; */
  /* padding-right: 60px; */
}

form input,
select {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
.btnn {
  background-color: white;
  border-radius: 116px;
  padding: 8px 20px 8px 20px;
  color: #0052cc;
  font-size: 22px;
  font-weight: 500;
}
.button {
  background-color: #007bff;
  border-radius: 116px;
  padding: 10px 30px 10px 30px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.bton {
  border-radius: 116px;
  padding: 8px 20px 8px 20px;
}
.addpharmacubtn {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 8px 20px 8px 20px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.btnnotselect {
  background: #ececec;
  color: #878787;
  border: 1px solid #878787;
}
.btnnotselect::before {
  content: "Select ";
}
.btn-primary::before {
  content: "Selected ";
}
.cardcolor {
  background-color: #172b4d;
  box-shadow: 0px 0px 15px rgba(194, 191, 191, 0.25);
  border-radius: 7px;
  color: white;
}
.selectedcard {
  background-color: #dbd8d8;
}
.card-primaryy {
  box-shadow: 0px 0px 15px rgba(194, 191, 191, 0.25);
  border-radius: 7px;
}
.toster {
  float: left;
  z-index: 99999999;
  position: fixed;
  background-color: white;
  border-color: white;
  margin-top: 570px;
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  .logindiv {
    padding-top: 70px;
  }
  .toster {
    float: left;
    z-index: 99999999;
    position: fixed;
    background-color: white;
    border-color: white;
    margin-top: 200px;
    font-size: 18px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 992px) {
  #hero {
    display: none;
  }
  .logindiv {
    padding-top: 70px;
  }
  .toster {
    float: left;
    z-index: 99999999;
    position: fixed;
    background-color: white;
    border-color: white;
    margin-top: 200px;
    font-size: 18px;
    font-weight: bold;
  }
}
