
<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-6">
          <h1 class="m-0 text-dark">Post a New Job</h1>
          
        </div>
       
      </div>
      <div class="col-12">
        <div [ngClass]="Editt?'notdisplay':'display'">
          <app-jobpost-progressbar></app-jobpost-progressbar>
          </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
         
          <div class="card-body">
            <h3 class="title">Title And Description</h3>
            <div class="container">
            <form [formGroup]="formVar" class="detailform mt-5 pt-5" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row form-group">
                  <div class="col-6"> <label for="exampleFormControlTextarea1"
                    >Name of the Job</label
                  ></div>
                  <div class="col-6"> <input
                    type="text"
                    class="form-control"
                    formControlName="jobName"
                    [ngClass]="{
                      'is-invalid': submitted && f.jobName.errors
                    }"
                  />
                  <div
                  *ngIf="submitted && f.jobName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.jobName.errors.required">
                    job name is required
                  </div>
                </div>
                </div>             
                 
               
                </div>
              
                <div class="row form-group">
                  <div class="col-6">
                    <label for="exampleFormControlTextarea1"
                    >Enter Jobs Description
                  </label>
                  </div>
                  <div class="col-6"> 
                    <textarea
                      type="text"
                      class="form-control"
                      formControlName="jobDescription"
                      [ngClass]="{
                        'is-invalid': submitted && f.jobDescription.errors
                      }"
                    ></textarea>
                    <div
                    *ngIf="submitted && f.jobDescription.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.jobDescription.errors.required">
                      job description is required
                    </div>
                  </div>
                  </div>             
                 
                </div>
              </div>
              <!-- /.card-body -->
                            <div class=" text-center allbuttons">
                <div class="row" >
                  <!-- <div class="col-sm-2 "></div> -->
                  <div class="col-6">
                    <button class="leftarrow"  (click)="goback()">
                      Previous
                      <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i>             -->
                  </button> 
                  <button type="submit" class="btn leftarrowbtn" (click)="goback()"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                </div>
              
                  <div class="col-6"   >  
                     <button class="rightarrow" type="submit">
                    Save And Next
                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                    </button>  
                    <button type="submit" class="btn rightarrowbtn" (click)="goback()"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
                  
                  <!-- <div class="col-sm-2"></div> -->

                </div>            
                <br />
    
                </div>
            </form>
          </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>

         </div>
  </section>
</div>

