.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}

.success {
  display: block;
}
.black {
  display: none;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
}
.detailform {
  padding-left: 12rem;
  padding-right: 12rem;
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
}
input,
textarea {
  width: 100%;
  float: left;
  background: white;
}
label {
  /* font-family: Roboto; */
  /* line-height: 28px; */
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500 !important;
  font-size: 18px;
}
.btn {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 18px;
  width: 200px;
  color: white;
}
.leftarrow,
.rightarrow {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 20px;
  width: 180px;
  border: 1px solid #00a3ff;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
}
.rightarrowbtn,
.leftarrowbtn {
  display: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.notdisplay {
  display: none;
}
.allbuttons {
  margin-top: 3rem;
}
@media only screen and (max-width: 768px) {
  .detailform {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
  }
  h1 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px !important;
  }
  label {
    font-size: 14px;
  }
  .rightarrow {
    width: 100%;
    font-size: 15px;
    margin-left: 3px;
    display: none;
  }
  .leftarrow {
    width: 100%;
    font-size: 15px;
    margin-right: 3px;
    display: none;
  }
  .allbuttons {
    margin-top: 0rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .rightarrowbtn {
    display: block;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
  .leftarrowbtn {
    float: right !important;
    display: block;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .detailform {
    padding-left: 5rem;
    padding-right: 5rem;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
}
