<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Add User</h1>
         
          </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add User</li>
          </ol>
        </div> -->
      </div>
    </div>
  </div>
  <section class="content pb-5">
    <div class="col-12">
   
            <div class="card pb-5 " style="width: 100%" >
                <div class="card-header">
                    <h5 class="card-title">Add New User</h5>
                  </div>
                <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                             <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1"
                                              >First Name</label
                                            >
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="firstname"
                                              (keypress)='onlyText($event)'

                                              [ngClass]="{
                                                'is-invalid': submitted && f.firstname.errors
                                              }"
                                            />
                                            <div
                                              *ngIf="submitted && f.firstname.errors"
                                              class="invalid-feedback"
                                            >
                                              <div *ngIf="f.firstname.errors.required">
                                                first name is required
                                              </div>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleFormControlTextarea1"
                                              >Email</label
                                            >
                                            <input
                                              type="email"
                                              class="form-control"
                                              formControlName="email"
                                              [ngClass]="{
                                                'is-invalid': submitted && f.email.errors
                                              }"
                                                                              />
                                            <div
                                              *ngIf="submitted && f.email.errors"
                                              class="invalid-feedback"
                                            >
                                              <div *ngIf="f.email.errors.required">
                                            Email is required
                                              </div>
                                              <div *ngIf="f.email.errors.pattern">
                                                Must be a valid email address
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastname"
                          (keypress)='onlyText($event)'

                          [ngClass]="{
                            'is-invalid': submitted && f.lastname.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.lastname.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.lastname.errors.required">
                            Last name is required
                          </div>
                        </div>
                      </div>

                      

                      <div class="form-group">
                        <label for="exampleFormControlTextarea1"
                          >Phone Number</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="phone"
                          (keypress)='onlyNumber($event)'
                          maxlength="10"
                          [ngClass]="{
                            'is-invalid': submitted && f.phone.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.phone.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.phone.errors.required">
                        Phone number is required
                          </div>
                          <div *ngIf="f.phone.errors.pattern">
                            Phone No must be a 10 digit number
                          </div>
                        </div>
                      </div>
                                    </div>
                                    </div>
                                    <div><label>Section</label></div>
                                    <div class="row">
                                      <div class="col-4" *ngFor="
                                                                                                let category of sectionconst;
                                                                                                let i = index
                                                                                              ">
                                        <div class="checkboxname">
                                          <input type="checkbox"  [name]="category?.key"  [formControl]="
                                                                                                    formVar.controls['myCategory'].controls[i]
                                                                                                  " 
                                            [value]="category?.key" [id]="category?.key" />
                                          {{category?.key}}
                                        </div>
                                      </div>
                                    </div>

                                      <div *ngIf="!formVar?.controls?.myCategory?.valid" class="text-danger">
                                        Only one Section must be selected
                                      </div>
                                      
                                    <div *ngIf='errorMessage!==null' class="mt-2">
                                      <p class="text-danger">{{errorMessage}}</p>
                                    </div>
                                 <div class=" col-xs-12">
                                  <div class="row">
                                    <!-- <div class="col-md-2"></div>                              -->
  
                                    <div class="  col-xs-6  mt-3" >
                                      <button type="" class="btnn cancel_button " (click)='cancel()'>cancel</button>                                 
                                      <br />
                                    </div>
                                  <div class="  col-xs-6   mt-3" >
                                    <button type="submit" class="btnn ">Save</button>
                                  
                                    <br />
                                  </div>  
                                  <!-- <div class="col-md-2"></div>                              -->
                                  </div>
                                 </div>

                                </div>
                             </div>           
                     

                    <!-- /.card-body -->
                  
                  </form>
              </div>
            </div>
  </section>
</div>


