.btnn {
  background: #00a3ff;
  border: 1px solid #00a3ff;
  border-radius: 14px;
  font-size: 20px;
  padding: 8px 30px 8px 30px;
  color: white;
}
.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.checkboxname {
  font-size: 18px;
}
.cancel_button {
  margin-left: 505px;
  margin-right: 15px;
}
@media only screen and (max-width: 768px) {
  .checkboxname {
    font-size: 12px;
  }
  .cancel_button {
    margin-right: 15px !important;
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 992px) {
  .checkboxname {
    font-size: 12px;
  }
  .cancel_button {
    margin-right: 15px;
    margin-left: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .checkboxname {
    font-size: 12px;
  }
}
