.voucherinfo {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.btn {
  background: #00a3ff;
  border-radius: 11px;
  border: 1px solid #00a3ff;
  color: white;
}
.amount {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 70px;
  color: white;
}
.textshow {
  font-size: 12px;
  font-family: roboto;
  color: #707070;
}
.success {
  display: block;
}
.black {
  display: none;
}
.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 41px;
  color: #000000;
}
label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}
.fa-times {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  margin-top: 5px;
}
.btnn {
  background: #00a3ff;
  border-radius: 11px;
  border: 1px solid #00a3ff;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  color: white;
}
