<div style="overflow-x:auto;">
  <table>
    <tr *ngFor="let item of hireData">
      <div class="card" style="background: #F3F3F3;
        border-radius: 15px;">
        <div class="card-body">

          <td>
            <img src="../../../../assets/images/female-pharmacist-home.jpg" width="70px " height="70px"
              style="border-radius: 50%;" />
          </td>
          <td >
            <p><b>{{ item.name }}</b><br /></p>
            <p>Experience : {{item.experience}}</p>
          </td>
          <td >
            <p><b>No Of Hires</b><br /> </p>
            <p class="pl-4">{{ item.noOfHires }}</p>
          </td>
          <td >
            <p><b>Hourly Rates</b> </p>
            <p class="pl-4">${{ item.hourlyRates }}</p>
          </td>
          <td >
            <p><b>CityPreference</b><br /> </p>
            <p class="pl-4">{{ item.cityPreference }}</p>

          </td>
          <!-- <td >
            <p *ngIf="item.status==='active'" style="color: green;"><b>Active</b></p>
            <p *ngIf="item.status==='waitingforpharmacist'" style="color: red;"><b>Waiting for Pharmacist</b></p>
          </td> -->

        </div>
      </div>
    </tr>
  </table>

</div>

<div *ngIf='hireData.length !== 0'>
  <ngb-pagination [collectionSize]="collectionsizeee" [(page)]="page" (pageChange)="reloadDataa()" [pageSize]="10"
    [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
</div>
<div class="card p-3" style="width: 100%;
                                    height: 550px;" *ngIf='hireData.length === 0'>
  <div class="card-body">
    <div class=" text-center">
      <!-- <p class="text-center" style="font-size: 25px;">
            No Records
          </p> -->
      <img src="../../../assets/images/nodata.jpg" height="350px" />
      <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>