table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
p {
  width: 200px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
