.staaus {
  font-size: 20px;
  border: 1px solid #00a3ff;
  padding: 5px;
}
.success {
  display: block;
}
.black {
  display: none;
}
.card {
  width: 95%;
}
.bttnn {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #0052cc;
  box-sizing: border-box;
  width: 100%;
  color: #0052cc;
}
.card {
  border-radius: 14px;
}
.hireparmacistname {
  font-size: 18px;
  cursor: pointer;
}
.hireparmacistname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    padding: 1rem;
  }
}
