          
<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Post a New Job</h1>
          
        </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Jobpost</li>
          </ol>
        </div> -->
       
      </div>
      <div [ngClass]="Editt?'notdisplay':'display'">
              <app-jobpost-progressbar></app-jobpost-progressbar>

      </div>

    </div>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title title">Details And Expertise</h5>
            <div class="container">

            <form
            class="detailform mt-5 pt-5"
              [formGroup]="expertiseForm"
              (ngSubmit)="onSubmit()"
              role="form"
            >
              <div class="card-body">
                 
                  <div class="row form-group" data-select2-id="13">
                    <div class="col-6">
                      <label for="expertise"
                      > Expertise of the Pharmacist </label
                    ></div>
                    <div class="col-6">
                      <select
                      class="form-control"
                      formControlName="expertise"
                      style="width: 100%"
                      [ngClass]="{
                    'is-invalid': submitted && f.expertise.errors
                  }"
                    >
                      <option
                        *ngFor="let item of constExpertise"
                        value="{{ item.Value }}"
                      >
                        {{ item.key }}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.expertise.errors" class="invalid-feedback">
                      <div *ngIf="f.expertise.errors.required">
                        Expertise of the pharmacist is required
                      </div>
                    </div>
                  </div>
                    
                  </div>
                <div class="row form-group">
                  <div class="col-6">   <label for="expertise"
                    > Software Skills </label
                  ></div>
                  <div class="col-6"><span class="addsoftskils" (click)="modalHideShow()">
                    <p class="skilltype">+ Add Skills </p>
                  </span></div>

                  <div class="col-12">
                    <div class="row form-group">
                                              <!-- <div   > -->
                                                <!-- <div > -->
                                                <div class="col-sm-6 col-xs-12"  *ngFor="let item of softwareSkills">
                                                <div class="skillbox row d-flex "  style="height: 34px;">
                                                  <div class="col-6 skilldiv pt-1" style="  background: #0052cc;    border-radius: 10px; " title="{{ item.skill }}" > 
                                                    <div class="skill">{{ item.skill }}</div> 
                                                </div>
                                                  <div class="col-5 d-flex pt-1 leveldiv" title="{{item.level}}">
                                                    <div  class="level">{{ item.level }}</div> 
                                                  </div>
                                <div class="col-1 " (click)='delet(item.skill)' title='Remove Skills' style="padding-top: 4px;">
                                  <i class="fa fa-times cross mt-1 mr-2"
                                    aria-hidden="true"></i>
                                </div>
                                                </div>
                                              <!-- </div> -->
                                            <!-- </div> -->
                                              </div>
                                            </div>
                  </div>
                      
                                
                </div>
                  <div class="row form-group" data-select2-id="13">
                    <div class="col-6">                    <label for="expertise">Pharmacy Operations</label>
                    </div>
                    <div class="col-6">
                      <select
                      class="form-control select2 select2-hidden-accessible"
                      id="pharmacyOperations"
                      placeholder="pharmacyOperations"
                      formControlName="pharmacyOperations"
                      style="width: 100%"
                      data-select2-id="1"
                      tabindex="-1"
                      aria-hidden="true"
                         [ngClass]="{
                    'is-invalid': submitted && f.pharmacyOperations.errors
                  }"
                    >
                      <option
                        selected="selected"
                        data-select2-id="3"
                        *ngFor="let item of constPharmacyOperations"
                        value="{{ item.Value }}"
                      >
                        {{ item.key }}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.pharmacyOperations.errors" class="invalid-feedback">
                      <div *ngIf="f.pharmacyOperations.errors.required">
                        Pharmacy Operations is required
                      </div>
                    </div>
                    </div>
                  </div>


                  <div class="row form-group" data-select2-id="13">
                    <div class="col-6">                    <label for="additionalSkills">Additional Skills</label>
                    </div>
                    <div class="col-6">
                      
                    <select
                    class="form-control select2 select2-hidden-accessible"
                    id="additionalSkills"
                    placeholder="additionalSkills"
                    formControlName="additionalSkills"
                    style="width: 100%"
                    data-select2-id="1"
                    tabindex="-1"
                    aria-hidden="true"
                       [ngClass]="{
                    'is-invalid': submitted && f.additionalSkills.errors
                  }"
                  >
                    <option
                      selected="selected"
                      data-select2-id="3"
                      *ngFor="let item of constAdditionalSkills"
                      value="{{ item.Value }}"
                    >
                      {{ item.key }}
                    </option>
                  </select>
                    <div *ngIf="submitted && f.additionalSkills.errors" class="invalid-feedback">
                      <div *ngIf="f.additionalSkills.errors.required">
                        Additional Skills is required
                      </div>
                    </div>
                    </div>


                  </div>
                  <div class="row form-group">
                    <div class="col-6">   <label for="expertise"
                      > Screening Question </label
                    ></div>
                    <div class="col-6"><span class="addsoftskils" (click)="modalHideShoww()">
                      
                      <p class="question">+ Add Screening Question </p>
                    </span></div>
                            <div class="col-12">
                              <div class="row form-group">
                              <div class="col-sm-6 col-xs-6" *ngFor="let item of questionarr">
                                <div class="row" style="width: 100%;" >
                                
                                <div class="row screenquestion" style="height: 40px;">
                                  <div class="col-10 questionn " title="{{ item.question }}"> 
                                    <div class="questiondiv">{{ item.question }}</div>
                                </div>
                                  <div class="col-2 "><div (click)='delett(item.question)'title='Remove Question' ><i class="fa fa-times crossquestion" aria-hidden="true"></i>
                                  </div></div>
                                </div>
                                  
                                  </div>
                              </div>
                            </div>
  </div>
                    
                        
                                  
                  </div>
              </div>
              <!-- /.card-body -->

              <div class=" text-center">
                <div class="row">
                  <div class="col-4">
                    <button class="leftarrow" style="cursor: pointer;"  (click)="goback()">
                      Previous                      

                  </button> 

                     <button class ='btnleftarrow' (click)="goback()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>                
                  </div>
                  <div class="col-4"> <button type="submit" class="savebtn">Save</button
                    >
                  
                  </div>
                  <div class="col-4">  
                     <button class="rightarrow" style="cursor: pointer;" (click)="clickContinue()">
                       Next
                  </button> 
                  <button class="btnrightarrow" (click)="clickContinue()" style="float: right;"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                 </div>
                </div>            
                <br />
              </div>
            </form>
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>

      </div>
  </section>
</div>

<div
  class="modal"
  id="myModal"
  [ngClass]="{ show: modalShow }"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="flex_container " style="display: flex;">
          <div>
            <h4 class="modal-title">Select Your Skills </h4>
          </div>
          <div class="float-right" style="    margin-left: 235px;" (click)="modalHideShow()"><i class="fa fa-times " aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="modal-body pl-5 pr-5">
        <form [formGroup]="skillformVar" (ngSubmit)="saveskills()">
          <label for="expertise">Software Skills</label>
          <div class="form-group" data-select2-id="13">
            <select
              class="form-control select2 select2-hidden-accessible"
              name="selectedQuantity"
              placeholder="software"
              formControlName="softwareSkills"
              style="width: 100%"
          
              [ngClass]="{
                'is-invalid': submittedd && fff.softwareSkills.errors
              }"
            >
              >
              <option
                selected="selected"
                data-select2-id="3"
                *ngFor="let item of constSoftwareSkills"
                value="{{ item.key }}"
              >
                {{ item.key }}
              </option>
            </select>
            <div *ngIf="submittedd && fff.softwareSkills.errors" class="invalid-feedback">
              <div *ngIf="fff.softwareSkills.errors.required">
                Additional Skills is required
              </div>
            </div>
          </div>
          <div class="form-group" data-select2-id="13">
            <label for="expertise" class="mt-2"> Skill Level</label>

            <select
              class="form-control select2 select2-hidden-accessible"
              name="selectedQuantity"
              placeholder="software"
              formControlName="skillLevel"
              style="width: 100%"
              
              [ngClass]="{
                'is-invalid': submittedd && fff.skillLevel.errors
              }"
            >
              >
              <option
                selected="selected"
                data-select2-id="3"
                *ngFor="let item of constPharmacyOperations"
                value="{{ item.key }}"
              >
                {{ item.key }}
              </option>
            </select>
            <div *ngIf="submittedd && fff.skillLevel.errors" class="invalid-feedback">
              <div *ngIf="fff.skillLevel.errors.required">
                Additional Skills is required
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class=" text-center pb-3">
        <button
          type="button"
          class="btnn "
          data-dismiss="modal"
          (click)="saveskills()"
        >
          Save
        </button>
   
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [ngClass]="{ show: modalShoww }"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="flex_container d-flex">
          <div>
            <h4 class="modal-title">Screening Question</h4>
          </div>
          <div class="float-right" style="    margin-left: 215px;" (click)="modalHideShoww()"><i class="fa fa-times "
              aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="modal-body">
        <div class="px-2" data-select2-id="14">
          <form [formGroup]="formVar" (ngSubmit)="submit()">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleFormControlTextarea1"
                  >Enter Screening question</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="screeningQuestions"
                  [ngClass]="{
                    'is-invalid': submitedd && ff.screeningQuestions.errors
                  }"
                />
                <div
                  *ngIf="submitedd && ff.screeningQuestions.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="ff.screeningQuestions.errors.required">
                    screening question is required
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="text-center pb-2">
              <button type="submit" class="btnn" >Save</button
              >
<!-- 
              <button
              style="width: 75px;"
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                (click)="modalHideShoww()"
              >
                Close</button> -->
                <br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>