.addsoftskils {
  font-size: 16px;
  /* color: green; */
  display: flex;
  cursor: pointer;
}
.modal.show {
  display: block;
}
.skillbox {
  border: 1px solid #0052cc;
  box-sizing: border-box;
  border-radius: 9px;
  margin-bottom: 4px;
  width: 100%;
}
/* .skill {
  border-radius: 9px;
  font-family: Roboto;
  font-size: 20px;
  padding: 2px;
} */

.primary-nav {
  position: fixed;
  z-index: 999;
}
.black {
  display: block;
}
.succes {
  display: none;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
}
.detailform {
  padding-left: 12rem;
  padding-right: 12rem;
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
}
select {
  width: 100%;
  float: left;
  background: white;
}
select option {
  background: white;
}
label {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500 !important;
  font-size: 18px;
}
.savebtn,
.rightarrow,
.leftarrow {
  background: #00a3ff;
  border-radius: 11px;
  font-size: 20px;
  width: 180px;
  border: 1px solid #00a3ff;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.fa-times {
  cursor: pointer;
}
.btnn {
  background: #00a3ff !important;
  border-radius: 7px;
  font-size: 18px;
  width: 120px;
  border: #00a3ff;
  color: white;
}
.notdisplay {
  display: none;
}

.cross {
  float: right;
  background: #0052cc;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 50%;
}
.crossquestion {
  float: right;
  background: #0052cc;
  color: white;
  padding: 4px;
  border-radius: 50%;
  font-size: 12px;
  margin-top: 3px;
}

.screenquestion {
  border: 1px solid #0052cc;
  box-sizing: border-box;
  border-radius: 9px;
  margin-bottom: 8px;
  padding: 5px;
  width: 100%;
}
.question,
.skilltype {
  background: #f3f2f2;
  border-radius: 9px;
  padding: 8px;
}
.skilldiv .skill {
  width: 130px;
  border-radius: 9px;
  font-family: Roboto;
  font-size: 15px;
  padding: 0px 2px 0px 2px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}
.leveldiv .level {
  width: 80px;
  border-radius: 9px;
  font-family: Roboto;
  font-size: 15px;
  padding: 0px 2px 0px 2px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* padding: 35px; */
}
.questionn .questiondiv {
  width: 230px;
  border-radius: 9px;
  font-family: Roboto;
  font-size: 15px;
  padding: 2px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnleftarrow,
.btnrightarrow {
  background-color: #00a3ff;
  display: none !important;
  color: white;
  padding: 5px;
}
.leftarrow,
.rightarrow {
  display: block;
}
@media only screen and (max-width: 420px) {
  .detailform {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .savebtn,
  .rightarrow,
  .leftarrow {
    background: #00a3ff;
    border-radius: 11px;
    font-size: 20px;
    width: 700px;
    border: 1px solid #00a3ff;
    color: white;
  }
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
  }
  .btnleftarrow,
  .btnrightarrow {
    background-color: #00a3ff;
    display: block !important;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: 1px solid #00a3ff;
  }
  .leftarrow,
  .rightarrow {
    display: none;
  }
  .savebtn {
    width: 100% !important;
    font-size: 15px !important;
  }
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 768px) {
  .detailform {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .savebtn,
  .rightarrow,
  .leftarrow {
    background: #00a3ff;
    border-radius: 11px;
    font-size: 22px;
    width: 100px;
    border: 1px solid #00a3ff;
    color: white;
  }
  h1 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px !important;
  }
  label {
    font-size: 13px;
  }
  .rightarrow {
    width: 100%;
    font-size: 15px;
    margin-left: 3px;
  }
  .leftarrow {
    width: 100%;
    font-size: 15px;
    margin-right: 3px;
  }
  .allbuttons {
    margin-top: 0rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .skilltype {
    font-size: 10px;
  }
  .question {
    font-size: 10px;
  }
  .btnleftarrow,
  .btnrightarrow {
    background-color: #00a3ff;
    display: block !important;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: 1px solid #00a3ff;
  }
  .leftarrow,
  .rightarrow {
    display: none;
  }
  .savebtn {
    width: 100% !important;
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 992px) {
  .detailform {
    padding-left: 3rem;
    padding-right: 3rem;
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .savebtn,
  .rightarrow,
  .leftarrow {
    background: #00a3ff;
    border-radius: 11px;
    font-size: 22px;
    width: 150px;
    border: 1px solid #00a3ff;
    color: white;
  }
}
