<div class="content-wrapper" >
  <div class="content-header">
      <h1 class="m-0 text-dark">Payment Method</h1>

  </div>
  <section class="content">
      <div class="row">  

  <div class=" col-xs-12 col-md-12 col-xl-12">
      
      <div class=" col-xs-12 col-md-12 col-xl-12">
              <div class="row">
                  <div class="card" style="width: 100%;height: 1200px;">
                      <div class="pt-4 pl-4" style="font-size: 22px;" >
                          Card Details
                      </div>

                     <div class="row" *ngFor="let item of paymentModesList">
                        <div class="col-2"> </div>
                        <div class="col-8" >
                      <div class="card">
                             <div class="card-body" *ngIf="item.paymentType == 'card'">
                                 <form [formGroup]="formVar">
                                 <!-- <input type="radio" class="mr-4" (click)='updatecardkey(item.referenceId)'/> -->
                                 <input type="radio" style="width: 50px;margin-top: 15px;" name="paymentModesList" formControlName="paymentModesList" [value]="item?.referenceId" (click)='updatecardkey(item.referenceId)' />

                                 <i class="fa fa-credit-card fa-1 pr-1" aria-hidden="true"></i>
                                 <i class="pr-1">
                                    {{item.customer_info.card.brand}}
                                 </i>
                                 <i>
                                     {{item.customer_info.card.exp_month}}/{{item.customer_info.card.exp_year}}, {{item.customer_info.card.last4}}
                                 </i>
                                 <i class="fa fa-times float-right " style="padding-top: 7px;
                                 color: #908d8d;cursor: pointer;" title="Delete Card" (click)='Deletecard(item.referenceId)' aria-hidden="true"></i>
                                        </form>
                             </div>
                             <div class="card-body" *ngIf="item.paymentType == 'ACH'">
                                <input type="radio" class="mr-4"/>

                                 <i class="fa fa-bank fa-1" aria-hidden="true" ></i>
                                 <i class="pl-2">Routing Number: {{item.customer_info.routing_number}}</i>
                                 <i class="fa fa-times float-right " style="padding-top: 7px;
                                 color: #908d8d;cursor: pointer;" title="Delete Bank Details" (click)='Deletecard(item.referenceId)' aria-hidden="true"></i>

                         </div>
                      </div>
                 </div>
    
                 <div class="col-2"> </div>
                     </div>
                     <div class="text-center pb-5 pt-4">
                        <div (click)='gotocreatepayment()'><button class="btnn">Add New Card Or Bank Details </button></div>
    
                     </div>

                  </div>    
          </div>
      </div>
  </div>
      </div>
</section>
</div>