.btnn {
  background: white;
  border: 1px solid #0052cc;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 8px 20px 8px 20px;
  color: #0052cc;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
