<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Post a New Job</h1>
        </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Jobpost</li>
          </ol>
        </div> -->
      </div>
      <div [ngClass]="Editt?'notdisplay':'display'">
              <app-jobpost-progressbar></app-jobpost-progressbar>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title title">Location and Visibility</h3>

            <form [formGroup]="formVar" class="mt-5" (ngSubmit)="onSubmit()">
              <h6 class="pb-3 pt-2">
                Select a Pharmacy for which you would like to post a job
              </h6>
              <!-- <table class="table" style="background: #f3f2f2">
                <thead>
                  <tr>
                    <th></th>
                    <th>Pharmacy Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let category of myCategory;
                      let i = index
                    ">
                    <td>
                 
                        <input type="radio" name="myCategory" formControlName="myCategory" [value]="category?.id" />
                      </td>
                    <td>
                      {{ category?.pharmacyName }}
                    </td>
                    <td>
                      {{ category?.pharmacyAddress }}
                    </td>
                    <td>{{ category?.city }}</td>
                    <td>
                      {{ category?.phoneNumber }}
                    </td>
                  </tr>
                </tbody>
              </table> -->

              <div>
                <div class="card" *ngFor="
                      let category of myCategory;
                      let i = index
                    ">
                  <div class="card-body">
                    <div class="col-12">
                      <div class="row">
                        <div class=" d-flex col-4">
                          <div>
                            <input type="radio" style="width: 50px;margin-top: 15px;" name="myCategory" formControlName="myCategory" [value]="category?.id" />
                          </div>
                          <div><img src="../../../../assets/images/female-pharmacist-home.jpg" width="50px " height="50px"
                            style="border-radius: 50%;" /></div>
                          <div ><p style="margin-top: 10px;margin-left: 15px;">{{ category?.pharmacyName }}</p></div>

                        </div>
                        <div class="col-3">
                         <p style="margin-top: 10px;">{{ category?.pharmacyAddress }}</p> 
                        </div>
                        <div class="col-2"><p style="margin-top: 10px;">{{ category?.city }}</p></div>
                         <div class="col-2"><p style="margin-top: 10px;">{{ category?.phoneNumber }}</p></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <h3 class="title mb-5">Job Visibility</h3>

              <div class="detailform">
                <div class="row form-group mt-5">
                  <div class="col-6">
                    <label for="jobvisibility">Who can see this job post?</label>
                  </div>
                  <div class="col-6">
                    <select class="form-control select2 select2-hidden-accessible" id="jobvisibility"
                      placeholder="jobvisibility" style="width: 100%" data-select2-id="1" tabindex="-1"
                      aria-hidden="true" formControlName="JobVisibility" [ngClass]="{
                        'is-invalid': submitted && f.JobVisibility.errors
                      }">
                      <option selected="selected" data-select2-id="3" *ngFor="let item of constJobvisibility"
                        value="{{ item.Value }}">
                        {{ item.key }}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.JobVisibility.errors" class="invalid-feedback">
                      <div *ngIf="f.JobVisibility.errors.required">
                        Job visibility is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-6">
                    <label for="exampleFormControlTextarea1">How many pharmacist do you need?</label>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" formControlName="pharmacistNeeded" [ngClass]="{
                        'is-invalid': submitted && f.pharmacistNeeded.errors
                      }" />
                    <div *ngIf="submitted && f.pharmacistNeeded.errors" class="invalid-feedback">
                      <div *ngIf="f.pharmacistNeeded.errors.required">
                        Number of pharmacist is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-5">
                  <div class="row">
                    <div class="col-4">
                      <button class="leftarrow" style="cursor: pointer" (click)="goback()">
                        Privious
                        </button>
                        <button class ='btnleftarrow' (click)="goback()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button> 
                    </div>
                    <div class="col-4">
                      <button type="submit" class="savebtn">Save</button>
                    </div>
                    <div class="col-4">
                      <button class="rightarrow" style="cursor: pointer" (click)="clickContinue()">
                        Next
                      </button>
                      <button class ='btnrightarrow' (click)="clickContinue()" style="float:right;"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button> 
                    </div>
                  </div>
                  <br />
                </div>
              </div>
              <!-- /.card-body -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>