<div class="container-fluid">
  <div class="one-case">
    <div class="step-indicator">
      <li    [ngClass]="
      topprogressbarlinee.title      ? ' complete'
        : ''
    " >
      </li>
      <li  [ngClass]="
      topprogressbarlinee.title ? ' complete'
        : ''
    ">
        <div class="stepblur"   [ngClass]="
        sideBarObject.step1      ? ' step'
          : 'stepblur'
      ">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="caption hidden-xs hidden-sm">
          <span>Title and Description</span>
        </div>
      </li>
      <li   [ngClass]="
      topprogressbarlinee.expertise      ? ' complete'
        : ''
    " >
        <div class="stepblur"   [ngClass]="
        sideBarObject.step2      ? ' step'
          : 'stepblur'
      ">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="caption hidden-xs hidden-sm">
          <span>Expertise</span>
        </div>
      </li>
      <li  [ngClass]="
      topprogressbarlinee.location      ? ' complete'
        : ''
    " >
        <div class="stepblur"   [ngClass]="
        sideBarObject.step3      ? ' step'
          : 'stepblur'
      ">
          <i class="fa fa-check-circle"></i>
  <!--        <i class="fa fa-times-circle"></i>-->
        </div>
        <div class="caption hidden-xs hidden-sm">
          <span>Location and Visibility</span>
        </div>
      </li>
      <li   [ngClass]="
      topprogressbarlinee.budget      ? ' complete'
        : ''
    " >
        <div class="stepblur"   [ngClass]="
        sideBarObject.step4      ? ' step'
          : 'stepblur'
      ">
          <i class="fa fa-check-circle"></i>
  <!--        <i class="fa fa-times-circle"></i>-->
        </div>
        <div class="caption hidden-xs hidden-sm">
          <span>Budget and Time</span>
        </div>
      </li>
      <li   [ngClass]="
      topprogressbarlinee.review      ? ' complete'
        : ''
    " >
        <div class="stepblur"   [ngClass]="
        sideBarObject.step5      ? ' step'
          : 'stepblur'
      ">
          <i class="fa fa-check-circle"></i>
  <!--        <i class="fa fa-times-circle"></i>-->
        </div>
        <div class="caption hidden-xs hidden-sm">
          <span>Review</span>
        </div>
      </li>
     
    </div>
  </div>
</div>