.success {
  color: green;
}
.black {
  color: #6c757d;
}
/* 
.hidee {
  display: none;
} */
.jobpostheding {
  font-size: 22px;
  padding-left: 2rem !important;
  /* line-height: 100px; */
}
.fontsuccess {
  margin-top: 10px;
  display: block;
}
.fontblack {
  margin-top: 10px;
  display: none;
}
.step-wrapper {
  padding: 20px 0;
  display: none;
}
.step-wrapper.active {
  display: block;
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;
}
.step-indicator li {
  display: table-cell;
  position: relative;
  float: none;
  padding: 0;
  width: 1%;
}
.step-indicator li:after {
  background-color: #f0f0f0;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  width: 100%;
  top: 9px;
}
.step-indicator li:after {
  right: 50%;
}
/*.step-indicator li:last-child:after {*/
/*	display: none;*/
/*}*/

.step-indicator li:first-child:after {
  display: none;
}

.step-indicator li.fail .step {
  color: #e83f6f;
}
.step-indicator li.fail .caption {
  color: #e83f6f;
}
.step-indicator li.complete:after {
  background-color: #45c3e0;
}
.step-indicator li.complete .step {
  color: #45c3e0;
}
.step-indicator li.complete .caption {
  color: #45c3e0;
}

.step-indicator li.fail:after {
  background-color: #e83f6f;
}
.step-indicator li.fail .step {
  color: #e83f6f;
}
.step-indicator li.fail .caption {
  color: #e83f6f;
}
.step-indicator .stepblur {
  background-color: #fff;
  border-radius: 50%;
  color: #ccc;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  position: relative;
  width: 24px;
  z-index: 1;
}
.step-indicator .step:hover {
  cursor: pointer;
}
.step-indicator .caption {
  color: #ccc;
  padding: 11px 16px;
}
@media only screen and (max-width: 500px) {
  .step-indicator {
    width: 100%;
    margin-left: -25px !important;
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) {
  .step-indicator {
    width: 100%;
    margin-left: -50px;
    font-size: 13px;
  }
}
