.btnn {
  background: #00a3ff;
  border-radius: 11px;
  color: white;
  float: right;
  width: 100%;
  font-size: 20px;
  border: 1px solid #00a3ff;
}
.btnnn {
  border: 1px solid #00a3ff;
  box-sizing: border-box;
  border-radius: 11px;
  color: #00a3ff;
  padding: 5px 20px 5px 20px;
}
.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.delete {
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 11px;
  color: rgb(221, 24, 24);
  padding: 5px 20px 5px 20px;
}
.success {
  display: block;
}
.black {
  display: none;
}
label {
  font-size: 14px;
}
.backgrounding {
  /* background-image: url("../../../../assets/images/Rectangle\ 1628.png"); */
  background: url("../../../../assets/images/Rectangle 1628.png") no-repeat,
    center;
  height: 550px;
  width: 444px;
}
.form-group {
  margin-top: -15px;
}
.editicon {
  display: none;
}
.deleticon {
  display: none;
}
@media only screen and (max-width: 768px) {
  .btnn {
    font-size: 16px;
  }
  img {
    margin-left: -10px;
    width: 30px !important;
    height: 30px !important;
  }
  p {
    font-size: 10px !important;
  }
  .btnnn {
    border: 1px solid #00a3ff;
    box-sizing: border-box;
    border-radius: 11px;
    color: #00a3ff;
    padding: 5px 20px 5px 20px;
    font-size: 10px !important;
    display: none;
  }

  .editicon {
    display: block;
  }
  .delete {
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 11px;
    color: rgb(221, 24, 24);
    padding: 5px 20px 5px 20px;
    font-size: 10px !important;
    display: none;
  }
  .deleticon {
    display: block;
  }
  .editimg,
  .writeimg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
}
