<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h6 (click)='backtoreviewproposal()' style="color: #00A3FF;cursor: pointer;"><i class="fa fa-angle-left px-2 py-1" aria-hidden="true" style="
              cursor: pointer; 
                    "></i>Back To {{jobnametitle}}</h6>
        </div>
        <div class="col-sm-6">
          <!-- <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Jobpost</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
  <section class="content">

        <div class="card p-3" style="width: 100%">
          <div class="card-body">
            <div class="row" *ngFor="let item of proposaldetails">
              <div class="col-6">
                <div class="d-flex">
                  <img
                    src="../../../../assets/images/female-pharmacist-home.jpg"
                    width="70px "
                    height="70px"
                    style="border-radius: 50%;"
                  />
                  <div class="pl-5">
                    <h3>{{ item.firstname }} {{ item.lastname }}</h3>
                    <!-- <h6>{{ item.jobName }}</h6> -->
                    <p>{{ item.experienceType }} yr Exprience</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div style="float: right">
                 Proposal Amount <span class="pl-2"><b>${{ item.proposalRate }}/hr</b></span>
                </div><br/>
                <div>
                  <div class="d-flex pt-3" style="float: right;">
                    <div style="color: #007bff" class="pr-3">
                    <i class="fa fa-envelope-o" title="Message" aria-hidden="true"
                      style="color: #007bff;border:1px solid #007bff;border-radius: 50%;padding: 10px;cursor: pointer;"></i>
                    </div>
                    <div>
                      <!-- <button class="btnn " (click)="modalHideShow(item.jobDescription,item.jobName,item.startDateTime )">Hire</button> -->
                      <button class="btn btn-primary" (click)="
                      item['hired pharmacist']
                        ? undefined
                        :  modalHideShow(item.proposalId,item.jobDescription,item.jobName,item.startDateTime )
                    " [ngClass]="item['isHired'] ? 'disabled ' : 'ttt'"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cardd tab-pane">
          <div class="  customeCol">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" [class.active]="
                    isLinkActive('/pharmacy/jobpost/viewproposal')
                  " [routerLink]="['/pharmacy/jobpost/viewproposal']" [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="Profile()">Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pharmacy/jobpost/viewproposal/cv']"
                  [routerLinkActive]="'active'" data-toggle="tab" (click)="ShowCv()">CV</a>
              </li>
            
            </ul>
          </div>
          <div class="pt-3">
            <div class="">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
     
  </section>
</div>



<div class="modal" id="myModal" [ngClass]="modalShow ? 'success' : 'black'" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modall">
        <div class="flex_container">
          <div>
            <h4 class="modal-title"><span class="float-left"  (click)="modalHideShoww()">
              <i class="fa fa-angle-left px-2 py-1" aria-hidden="true" style="color: white;font-size: 35px;
    cursor: pointer; 
          "></i></span>Hire Pharmacist</h4>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form style="    margin-top: -50px;
        ">
          <div class="card-body">
            <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="col-sm-12">
                  <p class="hiredetails text-center"> <b>{{title}}</b></p>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter the Finalize amount </label>
                    <input type="number" class="form-control" formControlName="finalizedAmount" [ngClass]="{
                        'is-invalid': submitted && f.finalizedAmount.errors
                      }" />
                    <div *ngIf="submitted && f.finalizedAmount.errors" class="invalid-feedback">
                      <div *ngIf="f.finalizedAmount.errors.required">
                        Amount is required
                      </div>
                    </div>
                  </div>
                  <p class="hiredetails"><b>Description: <span>{{description}}</span></b></p>
                  <p class="hiredetails"><b>Time And Date: <span>{{finalizedDateTime |date:'d/MM/yyyy'}},{{gettime(finalizedDateTime)}}</span></b></p>
                  <p class="hiredetails"><b>Cost For Hire : <span>${{costhire}}</span> </b></p>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="text-center">
                <button type="submit" class="btton btn">Submit Contract</button>

                
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div>
  </div>
</div>