.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
.btnn {
  background: #007bff;
  border: #00a3ff;
  border-radius: 11px;
  font-size: 22px;
  width: 125px;
  color: white;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #007bff;
  padding-right: 30px;
  border-bottom: 5px solid #007bff;
  background: none;
  font-size: 18px;
}
.nav-pills .nav-link {
  color: #6c757d;
  padding-right: 30px;
  font-size: 18px;
}
.success {
  display: block;
}
.black {
  display: none;
}
.modall {
  text-align: center;
  background: #0052cc;
  color: white;
  height: 60px;
  padding-top: 8px;
}
.btton {
  background: #007bff;
  border-radius: 18px;
  color: white;
  font-size: 18px;
}
.disabled::before {
  content: "Hired ";
}
.ttt::before {
  content: "Hire ";
}
