#hero {
  width: auto;
  height: 715px;
  background: url("../../../../assets/images/Rectangleimg.jpg") no-repeat,
    center;
  background-size: 100% 100%;
}
.divform {
  background: #172b4d;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

form input {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
.btnn {
  background-color: white;
  border-radius: 116px;
  padding: 8px 20px 8px 20px;
  color: #0052cc;
  font-size: 22px;
  font-weight: 500;
}
.contineu {
  border: 1px solid white;
  padding: 15px 15px 15px 15px;
  color: #0052cc;
  font-size: 22px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.addpharmacubtn {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 8px 20px 8px 20px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
/* .toster {
  float: left;
  z-index: 99999999;
  position: fixed;
  background-color: white;
  border-color: white;
  margin-top: 570px;
  font-size: 18px;
  font-weight: bold;
} */
.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  label {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .logindiv {
    padding-top: 100px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .logoutdiv {
    margin-left: 10px;
  }
  .addpharmacudiv {
    margin-bottom: 15px;
    margin-left: 30px;
    text-align: center;
  }
  .contineudiv {
    margin-left: 10px;
    text-align: center;
  }
  .savediv {
    margin-left: 20px;
    text-align: center;
  }
  /* .toster {
    float: left;
    z-index: 99999999;
    position: fixed;
    background-color: white;
    border-color: white;
    margin-top: 200px;
    font-size: 18px;
    font-weight: bold;
  } */
}

@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .logoutdiv {
    margin-left: 10px;
  }
  .contineudiv {
    margin-left: 50px;
    text-align: center;
  }
  .savediv {
    /* margin-left: 50px; */
    text-align: center;
  }
  .addpharmacudiv {
    margin-bottom: 15px;
    /* margin-left: 30px; */
    text-align: center;
  }
  /* .toster {
    float: left;
    z-index: 99999999;
    position: fixed;
    background-color: white;
    border-color: white;
    margin-top: 200px;
    font-size: 18px;
    font-weight: bold;
  } */
}
