<div  style="overflow-x:auto;">
  <table>
    <tr>
      <div class="cardd tab-pane">
        <div class="card-header p-2 customeCol">
          <ul class="nav nav-pills">
            <td>
              <li class="nav-item">
                <a class="nav-link" [class.active]="isLinkActive('/pharmacy/jobpost/view/reviewproposal')"
                  [routerLink]="['/pharmacy/jobpost/view/reviewproposal']" [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="AllProposals()">All Proposals
                </a>
              </li>
            </td>
            <td>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/reviewproposal/Shortlisted']"
                  [routerLinkActive]="'active'" data-toggle="tab" (click)="Shortlisted()">Shortlisted</a>
              </li>
            </td>
            <td>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/reviewproposal/Messaged']"
                  [routerLinkActive]="'active'" data-toggle="tab" (click)="Messaged()">Messaged</a>
              </li>
            </td>
            <td>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pharmacy/jobpost/view/reviewproposal/archived']"
                  [routerLinkActive]="'active'" data-toggle="tab" (click)="Archived()">Archived</a>
              </li>
            </td>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </tr>
  </table>
</div>