#hero {
  width: auto;
  height: 715px;
  background: url("../../../../assets/images/Frame 6.png") no-repeat, center;
  background-size: 100% 100%;
}
.divform {
  background: #172b4d;
}
.login {
  /* font-family: Roboto; */
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 180px;
  padding-left: 95px;
  padding-right: 145px;
}

form input {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
.btn {
  background-color: white;
  border-radius: 116px;
  padding: 10px 30px 10px 30px;
  color: #0052cc;
  font-size: 25px;
  font-weight: 500;
}

.imgg {
  padding-left: 8rem;
}
img {
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  width: 35px;
  margin-top: 25px;
  padding: 7px;
}
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  .logindiv {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
