<!-- ======= Hero Section ======= -->
<section>
    <div>
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-sm-6 col-lg-6 col-xl-6" id="hero"></div>
                <div class="col-sm-6 col-lg-6 col-xl-6 divform">
                    <div class="logindiv">
                        <div class=" text-white">
                            <h5>Set Your Password Now!</h5>
                        </div>
                        <form [formGroup]="formVar" (ngSubmit)="onSubmit()" class="mt-4">
                            <div><label for="exampleFormControlTextarea1">Password</label>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" style="    background: none;
" class="form-control" placeholder="Password"
                                    formControlName="passwordd"
                                    [ngClass]="{ 'is-invalid': submitted && f.passwordd.errors }">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fa fa-lock"></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.passwordd.errors" class="invalid-feedback">
                                    <div *ngIf="f.passwordd.errors.required">Password is required</div>

                                </div>
                            </div>
                            <div><label for="exampleFormControlTextarea1">Confirm Password</label>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" style="    background: none;
" class="form-control" placeholder="Confirm Password"
                                    formControlName="confirmpassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fa fa-lock"></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</div>

                                </div>
                            </div>
                            <div class="row mt-5" style="margin-bottom: 12rem;">
                                <div class="col-6"></div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>



                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero -->