<div class="content-wrapper" >
    <div class="content-header">
    </div>
    <section class="content">
        <div class="">
            <div class=" p-2 mb-3 customeCol">
                <ul class="nav nav-pills">
                    <li class="nav-item" style="padding-right: 60px">
                        <a class="nav-link" [class.active]="isLinkActive('superadmin/credentialrequest')"
                            [routerLink]="['/superadmin/credentialrequest']" [routerLinkActive]="'active'"
                            [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="pharmacycredential()">
                            Pharmacy credential Request
                        </a>
                    </li>
                    <li class="nav-item" style="padding-right: 60px">
                        <a class="nav-link" [routerLink]="['/superadmin/pharmacist-credential-request']"
                            [routerLinkActive]="'active'" data-toggle="tab" (click)="pharmacistcredential()"> Pharmacist credential Request</a>
                    </li>
      
                </ul>
            </div>
            <!-- /.card-header -->
            <div class="">
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
</div>