<div style="overflow-x: auto">
  <table style="width: 100%">
    <tr *ngFor="let item of shortlistproposallist">
      <div class="card" style="background: #f3f3f3; border-radius: 15px">
        <div class="card-body">
          <td>
            <img
              src="../../../../assets/images/female-pharmacist-home.jpg"
              width="70px "
              height="70px"
              style="border-radius: 50%"
            />
          </td>
          <td>
            <p>
              <b>{{ item.firstname }} {{ item.lastname }}</b>
            </p>
            <div
              style="margin-top: -10px"
              class="pb-1"
              *ngIf="item.softwareSkills.length > 2"
              [ngClass]="
                softwareskiiill.length > 2 ? 'showborder' : 'notshowborder'
              "
            >
              <div
                class="pb-1"
                *ngFor="
                  let data of viewjob
                    ? item.softwareSkills.slice(0, 2)
                    : item.softwareSkills;
                  let i = index
                "
              >
                <div
                  class="d-flex"
                  style="
                    border: 1px solid #0052cc;
                    width: 200px;
                    box-sizing: border-box;
                    border-radius: 37px;
                  "
                >
                  <div class="skilll" title="{{ data.skill }}">
                    {{ data.skill }}
                  </div>
                  <div
                    class="level"
                    title="{{ data.level }}"
                    style="
                      margin-top: 0px;
                      padding-right: 5px;
                      padding-left: 5px;
                    "
                  >
                    {{ data.level }}
                  </div>
                </div>
              </div>
            </div>
            <p
              *ngIf="item.softwareSkills.length > 2 && viewjob"
              class="viewall"
              (click)="viewalljobpostt(item.pharmacistReferenceId)"
            >
              <i
                _ngcontent-jav-c108=""
                title="View All"
                aria-hidden="true"
                class="right fa fa-angle-up"
                ng-reflect-ng-class=" fa-angle-left"
              ></i>
              View All
            </p>
            <p
              *ngIf="item.softwareSkills.length > 2 && showless"
              class="viewall"
              (click)="viewlessjobpost(item.pharmacistReferenceId)"
            >
              <i
                _ngcontent-jav-c108=""
                title="View Less"
                aria-hidden="true"
                class="right fa fa-angle-down"
                ng-reflect-ng-class=" fa-angle-left"
              ></i>

              View Less
            </p>
            <div
              style="margin-top: -10px"
              [ngClass]="
                item.softwareSkills.length > 2 ? 'notdisplay' : 'display'
              "
            >
              <div
                class="pb-1"
                *ngFor="let data of item.softwareSkills; let i = index"
              >
                <div
                  class="d-flex"
                  style="
                    border: 1px solid #0052cc;
                    width: 200px;

                    box-sizing: border-box;
                    border-radius: 37px;
                  "
                >
                  <div class="skilll" title="{{ data.skill }}">
                    {{ data.skill }}
                  </div>
                  <div
                    class="level"
                    title="{{ data.level }}"
                    style="
                      margin-top: 0px;
                      padding-right: 5px;
                      padding-left: 5px;
                    "
                  >
                    {{ data.level }}
                  </div>
                </div>
              </div>
            </div>
            <p style="margin-top: -10px">
              Hourly Rates:{{ item.hourlyRates }}/hrs
            </p>

            <p style="margin-top: -15px">
              Work Exprience:{{ item.experience }}
            </p>
            <p style="margin-top: -15px">
              Date :{{ item.startDateTime | date: "dd/MM/yyyy" }}
            </p>
            <p style="margin-top: -15px">
              Time :{{ gettime(item.startDateTime) }} To
              {{gettime(item.endDateTime)}}
            </p>
          </td>
          <td>
            <p><b>Can Work In:</b> {{ item.areaPreference }}</p>
          </td>
          <td>
            <p (click)="onarchived(item.proposalReferenceId)">
              <i
                class="fa fa-archive"
                title="Archive Proposal"
                aria-hidden="true"
                style="
                  color: #007bff;
                  border: 1px solid #007bff;
                  border-radius: 50%;
                  padding: 10px;
                  cursor: pointer;
                "
              ></i>
            </p>
          </td>
          <td>
            <p>
              <i
                class="fa fa-envelope-o"
                title="Message Proposal"
                aria-hidden="true"
                style="
                  color: #007bff;
                  border: 1px solid #007bff;
                  border-radius: 50%;
                  padding: 10px;
                  cursor: pointer;
                "
              ></i>
            </p>
          </td>
          <td>
            <!-- <button class="btn btn-primary btn-lg" style="border-radius: 10px;"
        (click)="modalHideShow(item.proposalId,item.jobDescription,item.jobName,item.startDateTime)">Hire</button> -->
            <button
              class="btn btn-primary"
              (click)="
                item['hired pharmacist']
                  ? undefined
                  : modalHideShow(
                      item.proposalId,
                      item.jobDescription,
                      item.jobName,
                      item.startDateTime
                    )
              "
              [ngClass]="item['hired pharmacist'] ? 'disabled ' : 'ttt'"
            ></button>
          </td>
          <td>
            <p>
              <i
                class="fa fa-star"
                title="Shortlisted Proposal"
                aria-hidden="true"
                style="
                  color: #007bff;
                  border: 1px solid #007bff;
                  border-radius: 50%;
                  padding: 10px;
                  cursor: pointer;
                "
              ></i>
            </p>
          </td>
        </div>
      </div>
    </tr>
  </table>
</div>

<div *ngIf="shortlistproposallist.length !== 0">
  <ngb-pagination
    [collectionSize]="shortlistcollectionsizee"
    [(page)]="page"
    (pageChange)="reloadData()"
    [pageSize]="10"
    [maxSize]="4"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>

<div
  class="card p-3"
  style="width: 100%; height: 550px"
  *ngIf="shortlistproposallist.length === 0"
>
  <div class="card-body">
    <div class="text-center">
      <!-- <p class="text-center" style="font-size: 25px;">
              No Records
            </p> -->
      <img src="../../../assets/images/nodata.jpg" height="350px" />
      <div>
        <a href="https://www.freepik.com/vectors/data"
          >Data vector created by stories - www.freepik.com</a
        >
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [ngClass]="modalShow ? 'success' : 'black'"
  role="dialog"
  data-backdrop="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modall">
        <div class="flex_container">
          <div>
            <h4 class="modal-title">
              <span class="float-left" (click)="modalHideShoww()"
                ><i
                  class="fa fa-angle-left px-2 py-1"
                  aria-hidden="true"
                  style="color: white; font-size: 35px; cursor: pointer"
                ></i></span
              >Hire Pharmacist
            </h4>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form style="margin-top: -50px">
          <div class="card-body">
            <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="col-sm-12">
                  <p class="hiredetails">
                    Title/Name: <span>{{ title }}</span>
                  </p>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"
                      >Enter the Finalize amount
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="finalizedAmount"
                      [ngClass]="{
                        'is-invalid': submitted && f.finalizedAmount.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.finalizedAmount.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.finalizedAmount.errors.required">
                        Amount is required
                      </div>
                    </div>
                  </div>
                  <p class="hiredetails">
                    Description: <span>{{ description }}</span>
                  </p>
                  <p class="hiredetails">
                    Time And Date:
                    <span>{{ finalizedDateTime | date: "dd/MM/yyyy" }},{{gettime(finalizedDateTime)}}</span>
                  </p>
                  <p class="hiredetails">
                    Cost For Hire : <span>${{ costhire }}</span>
                  </p>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="text-center">
                <button type="submit" class="btton btn">Submit Contract</button>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div>
  </div>
</div>
