.success {
  display: block;
}
.black {
  display: none;
}
.modall {
  text-align: center;
  background: #0052cc;
  color: white;
  height: 60px;
  padding-top: 8px;
}
.btton {
  background: #007bff;
  border-radius: 18px;
  color: white;
  font-size: 18px;
}
.disabled::before {
  content: "Hired ";
}
.ttt::before {
  content: "Hire ";
}
th,
td {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.notdisplay {
  display: none;
}
.display {
  padding-bottom: 10px;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}

@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
