.divform {
  background: #172b4d;
  padding-left: 30px;
  padding-right: 30px;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.btn {
  background-color: #007bff;
  border-radius: 116px;
  padding: 5px 20px 5px 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.formm {
  border: 1px solid rgb(162 162 162);
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 30px;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}
form input {
  background-color: none !important;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 7px;
  padding: 20px;
}
#myModal {
  margin-right: 80px;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
}
.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .logindiv {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.success {
  display: block;
}
.black {
  display: none;
}
h6 {
  font-size: 20px;
}
