<!-- ======= Hero Section ======= -->
<section>
    <div>
        <div class="col-xs-12 col-md-12 ">
            <div class="row">
                <div class="col-xs-12  col-md-6 " id="hero"></div>
                <div class="col-xs-12 col-md-6  divform">
                    <div class="logindiv">                 
                        <div class=" text-white">
                            <p>You forgot your password? Here you can easily retrieve a new password.Quick enter your email id </p>
                        </div>
                            <form class="mt-4" [formGroup]="formVar" (ngSubmit)="onSubmit()">
                                <div>
                                    <label for="exampleFormControlTextarea1">Email Id</label>
</div>
                            <div class="input-group mb-3">
                                
                                <input type="email" class="form-control" placeholder="Email" formControlName='email'
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" style="    background: none;
">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">email is required</div>
                                    <div *ngIf="f.email.errors.pattern">
                                        Must be a valid email address
                                      </div>
                                </div>
                            </div>
                            <div class="row mt-5" style="margin-bottom: 14rem;">
                                <div class="col-3">
                                    <!-- <div class="imgg" (click)='gologin()'><a ><b>Login</b> </a></div> -->
</div>
                                <div class="col-9">
                                    <input class="inputt" type="submit" value="Send Request" style="float: right;">

                                    <!-- <button type="submit" class="btn btn-primary btn-block"></button> -->
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>



                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero -->