<div class="content-wrapper" >
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div>
    </div>
    <section class="content">
        <div class="">
            <div class=" p-2 mb-3 customeCol">
                <div class="nav nav-pills d-flex">
                    <div class="nav-item mr-5">
                        <a class="nav-link" [class.active]="isLinkActive('/superadmin/pharmacy/viewdetails')"
                            [routerLink]="['/superadmin/pharmacy/viewdetails']" [routerLinkActive]="'active'"
                            [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" (click)="viewaccount()">
                            Account details
                        </a>
                    </div>
                    <div class="nav-item mr-5">
                        <a class="nav-link" [routerLink]="['/superadmin/pharmacy/viewdetails/wallet']"
                            [routerLinkActive]="'active'" data-toggle="tab" (click)="viewwallet()">Wallet
                        </a>
                    </div>
                    <div class="nav-item mr-5" >
                        <a class="nav-link" [routerLink]="['/superadmin/pharmacy/viewdetails/joblisting']"
                            [routerLinkActive]="'active'" data-toggle="tab" (click)="viewJoblist()">
                            Job listing</a>
                    </div>
                    <!-- <div class="nav-item">
                        <a class="nav-link" [routerLink]="['/superadmin/pharmacy/viewdetails/rating&review']" [routerLinkActive]="'active'"
                            data-toggle="tab" (click)="viewRatingReview()">Rating & Review</a>
                    </div> -->
                </div>
            </div>
            <!-- /.card-header -->
            <div class="">
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
</div>