.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  font-size: 19px;
  font-family: Roboto;
  font-weight: 500;
  padding: 8px 25px 8px 25px;
  font-style: normal;
  background-color: #00a3ff;
  border-radius: 17px;
}
.nav-pills .nav-link {
  color: #6c757d;
  font-size: 18px;
  display: flex;
  font-family: Roboto;
  padding: 8px 25px 8px 25px;
  font-style: normal;
  background-color: #ffffff;
  border-radius: 17px;

  /* font-weight: 500; */
}
@media only screen and (max-width: 768px) {
  .nav-pills .nav-link {
    padding: 10px 10px 10px 10px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 992px) {
  .nav-pills .nav-link {
    padding: 10px 10px 10px 10px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding: 10px 10px 10px 10px;
  }
}
