.iconsave {
  color: green;
}
.invitedd {
  background-color: grey;
}
.invite {
  background-color: #007bff;
}
.fa-heart {
  font-size: 30px;
}
.fa-heart-o {
  font-size: 30px;
}
.disabled::before {
  content: "Invited ";
}
.ttt::before {
  content: "Invite ";
}

.pharmacistdata {
  margin-top: -10px;
}
/* .showborder {
  border: 0.5px solid black;
  width: fit-content;
  padding: 5px;
  overflow: scroll;
  margin-top: -10px;
  height: 175px;
} */
.notdisplay {
  display: none;
}
.display {
  padding-bottom: 10px;
}
.viewall {
  /* float: right; */
  font-size: 12px;
  padding-right: 50px;
  cursor: pointer;
  color: #17a2b8;
  font-weight: 500;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 14px;
  background: rgba(0, 82, 204, 0.89);
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  padding-left: 5px;
}
.postingname {
  font-size: 18px;
  cursor: pointer;
}
.postingname:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(39, 94, 189);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}
td {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  td {
    text-align: left;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media only screen and (max-width: 992px) {
  td {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 1200px) {
  td {
    text-align: left;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media only screen and (max-width: 1300px) {
  td {
    text-align: left;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

/* an other process of showing rating  */
/* 
span.stars,
span.stars span {
  display: block;
  background: url("../../../../assets//icons/staricon.png") 0 -16px repeat-x;
  width: 100px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

.alignright {
  float: right;
} */
