<div style="overflow-x:auto;">
  <table style="width: 100%;">
    <tr *ngFor="let item of jobListing">
      <div class="card" style="background: #f3f3f3; border-radius: 15px">
        <div class="card-body">
          
              <td>
                <img src="../../../../assets/images/female-pharmacist-home.jpg" width="70px " height="70px"
                  style="border-radius: 50%" />
              </td>
              <td>
                <p class="postingname" (click)='viewpharmacistdetails(item.pharmacistReferenceId)'>
                  <b>{{ item.name }}</b>
                </p>

                <div style="margin-top: -15px;">
                  <p>
                    <stars stars="5" radius="10" [stars-selected]="item.ratings" disabled="true"></stars>
                  </p>
                </div>
                <div style="margin-top: -15px;" class="pb-1" *ngIf="item.softwareProficiency.length > 2" [ngClass]="
                  softwareskiiill.length > 2 ? 'showborder' : 'notshowborder'
                ">
                  <div class="pb-1" *ngFor="
                    let data of viewjob
                      ? item.softwareProficiency.slice(0, 2)
                      : item.softwareProficiency;
                    let i = index
                  ">
                    <div class="d-flex" style="
                      border: 1px solid #0052cc;
                        width: 200px;
                      box-sizing: border-box;
                      border-radius: 37px;
                    ">
                      <div class="skilll" title="{{data.skill}}">
                        {{ data.skill }}
                      </div>
                      <div class="level" title="{{data.level}}"
                        style="margin-top: 0px; padding-right: 5px;padding-left: 5px">
                        {{ data.level }}
                      </div>
                    </div>
                  </div>
                </div>
                <p *ngIf="item.softwareProficiency.length > 2 && viewjob" class="viewall"
                  (click)="viewalljobpostt(item.pharmacistReferenceId)">
                  <i _ngcontent-jav-c108="" title="View All" aria-hidden="true" class="right fa fa-angle-up"
                    ng-reflect-ng-class=" fa-angle-left"></i>
                  View All
                </p>
                <p *ngIf="item.softwareProficiency.length > 2 && showless" class="viewall"
                  (click)="viewlessjobpost(item.pharmacistReferenceId)">
                  <i _ngcontent-jav-c108="" title="View Less" aria-hidden="true" class="right fa fa-angle-down"
                    ng-reflect-ng-class=" fa-angle-left"></i>

                  View Less
                </p>

                <div style="margin-top: -15px;" [ngClass]="
                  item.softwareProficiency.length > 2 ? 'notdisplay' : 'display'
                ">
                  <div class="pb-1" *ngFor="let data of item.softwareProficiency; let i = index">
                    <div class="d-flex" style="
                      border: 1px solid #0052cc;
                      width: 200px;
  
                      box-sizing: border-box;
                      border-radius: 37px;
                    ">
                      <div class="skilll" title="{{data.skill}}">
                        {{ data.skill }}
                      </div>
                      <div class="level" title="{{data.level}}"
                        style="margin-top: 0px;padding-right: 5px; padding-left: 5px">
                        {{ data.level }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pt-1">
                  <p class="pharmacistdata">AdditionalSkill:{{item.additionalSkills===0 ? '': item.additionalSkills===1? 'Vaccination' : item.additionalSkills===2? 'Compounding':'MTM'}}</p>
                  <p class="pharmacistdata">PharmacyOperation:{{item.pharmacyOperations ===0 ? '' : item.pharmacyOperations === 1?'Beginner' : item.pharmacyOperations === 2?'Intermediate' :'Advanced' }}</p>
                  <p class="pharmacistdata">${{ item.hourlyRates }}/hrs</p>
                  <p class="pharmacistdata">{{ item.totalWorkedHours }} hrs worked</p>
                  <p class="pharmacistdata">
                    {{ item.experience }} yrs Work Exprience
                  </p>
                </div>
              </td>
              <td>
                <p class="text-center"><b>Can Work In</b><br /> {{ item.areaPreference }}</p>
              </td>
              <td><b>Preferred:</b> {{ item.cityPreference }}</td>
              <td>
                <span [attr.title]="
                  item['saved pharmacist'] === 1 ? 'Saved Jobpost' : 'Save Jobpost'
                " style="margin-right: 25px; cursor: pointer" (click)="
                  item['saved pharmacist']
                    ? updatepharmacist(item.savedPharmacistReferenceId)
                    : savepharmacist(item.pharmacistId)
                "><i class="fa" aria-hidden="true" [ngClass]="
                    item['saved pharmacist'] ? 'iconsave fa-heart' : 'fa-heart-o'
                  "></i>
                </span>
                </td>
                <td>
                <button class="btn btn-primary" (click)="
                  item['Invited pharmacist']
                    ? undefined
                    : invitedpharmacistt(item.pharmacistId)
                " [ngClass]="item['Invited pharmacist'] ? 'disabled ' : 'ttt'" style="  width: 80px;
                border-radius: 7px;"></button>
                  <div class="mt-5 " *ngIf='item.reviewsCount !==0'><p style="color: darkgrey;border-bottom:1px solid darkgrey;font-size: 18px;">reviews</p>
                <div  style="height: 100px; width: 200px; overflow-y:auto;">
                  <div style="display: flex; flex-direction: column" *ngFor="
                  let itemm of item?.reviews?.split(',');
                  let i = index
                ">
                    <div class="d-flex pb-2" *ngIf="item?.reviews?.split(',')?.slice(0, 5).length<=2" >
                      <img class="" src="../../../../assets/images/Pharmacist-home.jpg" width="20px" height="20px"
                        style="border-radius: 50px" />
                      <span class="pl-3" style="margin-top: -2px;">{{ itemm }}</span>
                    </div>
                   
                    <!-- <div>
                      <p>viewall</p>
                      <p>viewless</p>

                    </div> -->

                  </div>
                  <div *ngFor="
                  let itemm of item?.reviews?.split(',')?.slice(0, 2);
                  let i = index
                ">
                    <div class="d-flex pb-2" *ngIf="item?.reviews?.split(',')?.slice(0, 2).length>=2" >
                      <img class="" src="../../../../assets/images/Pharmacist-home.jpg" width="20px" height="20px"
                        style="border-radius: 50px" />
                      <span class="pl-3" style="margin-top: -2px;">{{ itemm }}</span>
                    </div>
                  </div>
                </div>
              </div>



              </td>
           
        </div>
      </div>
    </tr>
  </table>
</div>

<div *ngIf="jobListing.length !== 0">
  <ngb-pagination [collectionSize]="collectionsize" [(page)]="page" (pageChange)="reloadData()" [pageSize]="10"
    [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
</div>

<div class="card p-3" style="width: 100%; height: 550px" *ngIf="jobListing.length === 0">
  <div class="card-body">
    <div class=" text-center">
      <!-- <p class="text-center" style="font-size: 25px;">
          No Records
        </p> -->
      <img src="../../../assets/images/nodata.jpg" height="350px" />
      <div><a href='https://www.freepik.com/vectors/data'>Data vector created by stories - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>