form.checkout {
  width: 100% !important;
  margin: 2rem auto !important;
  text-align: center !important;
  border: 2px solid #f4f0f0 !important;
  border-radius: 8px !important;
  padding: 70px !important;
  /* background: #172b4d !important; */
  background: #f4f0f0 !important ;

  font-family: monospace !important;
  color: white !important;
  font-size: 1.1rem !important;
  border-radius: 46px !important;
  font-weight: bolder;
}
input {
  color: white !important;
}
.InputElement.Input {
  color: white !important;
}
input::placeholder {
  color: white !important;
}
form.checkout ::placeholder {
  color: white;
}
::placeholder {
  color: red;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/* form.checkout button {
  padding: 0.5rem 1rem !important;
  color: #0052cc !important;
  background: #ffffff;
  border-radius: 116px;
  border: none !important;
  border-radius: 4px !important;
  margin-top: 1rem !important;
  font-size: 18px;
} */
form.checkout button:active {
  background: #ffffff !important;
}
form.checkout button {
  background-color: white;
  border-radius: 116px;
  padding: 5px 20px 5px 20px;
  color: #0052cc;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid #0052cc;
}

#card-errors {
  color: red !important;
  /* padding-bottom: 20px; */
}

.divform {
  background: #172b4d;
  padding-left: 30px;
  padding-right: 30px;
}
.login {
  /* font-family: Roboto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.logindiv {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
}

form input {
  border: 3px solid #ffffff;
  border-radius: 7px;
  padding: 20px;
  color: white;
}
label {
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #ffffff;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}
.form-check-label {
  font-weight: 200;
  font-size: 17px;
}

.logout {
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 119px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .profile {
    display: none;
  }
  .logindiv {
    padding-top: 70px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  form.checkout {
    width: 100% !important;
    margin: 2rem auto !important;
    text-align: center !important;
    border: 2px solid #cfcdcd !important;
    border-radius: 8px !important;
    padding: 40px !important;
    background: #172b4d !important;
    font-family: monospace !important;
    color: white !important;
    font-size: 1.1rem !important;
    border-radius: 46px !important;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 992px) {
  .logindiv {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.ElementsApp input {
  background-color: transparent;
  border: none;
  display: block;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
  line-height: 1.2em;
  height: 1.2em;
  color: white !important;
}
.InputContainer .InputElement {
  position: absolute;
  top: 0;
  color: white;
}
