

              <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" >
                <div class="form-roww">
                    <label for="card-info" style="font-size: 20px;padding-bottom: 10px;color: black;">Card Info</label>
                    <div id="card-info" #cardInfo></div>
                    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                </div>
               <div class="text-center submitbutton" >
                <button type="submit" class="mt-3 btn" [ngClass]='button ? "show":"hide"'><b>Submit  </b></button>
                <button type="submit" class="mt-3 btn" [ngClass]='loadingbutton ? "show":"hide"' disabled>
                  <b> Submit..  </b></button>
               </div>
      
            </form>
