.primary-nav {
  position: fixed;
  z-index: 999;
}
.primary-nav .menu {
  position: relative;
}
.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
h3,
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}
.titlee,
.expertise,
.location,
.budget {
  border: 0.5px solid #afafaf;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 40px;
  margin-top: 18px;
  /* padding-top: 20px; */
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
}
.btnnn {
  background: #00a3ff;
  border: 1px solid #00a3ff;
  border-radius: 11px;
  font-size: 20px;
  color: white;
  width: 180px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#hero {
  height: 300px;
  background-color: rgb(19, 20, 53);
  position: relative;
}
.tablecard {
  position: absolute;
  margin-top: -100px;
  width: 100%;
}
/* .toster {
  float: left;
  z-index: 99999999;
  position: fixed;
  background-color: #0062cc;
  border-color: #005cbf;
} */
.card-title {
  font-size: 20px;
}
.fa-pencil-square-o {
  cursor: pointer;
}
p {
  font-family: Roboto;
  font-style: normal;
}
.skilll {
  width: 150px;
  font-family: Roboto;
  font-size: 15px;
  background: #0052cc;
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  color: rgb(255, 255, 255);
}
.level {
  width: 80px;
  font-family: Roboto;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
}
.questionn {
  width: 120px;
  font-family: Roboto;
  font-size: 15px;
  border: 1.5px solid #0052cc;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 37px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  .titlee,
  .expertise,
  .location,
  .budget {
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px !important;
    margin-top: 18px;
    /* padding-top: 20px; */
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .skilll {
    width: 200px !important;
    font-family: Roboto;
    font-size: 14px;
    background: rgba(0, 82, 204, 0.89);
    border: 1.5px solid #0052cc;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 37px;
    color: rgb(255, 255, 255);
  }
}
@media only screen and (max-width: 992px) {
  .titlee,
  .expertise,
  .location,
  .budget {
    border: 0.5px solid #afafaf;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 40px;
    margin-top: 18px;
    /* padding-top: 20px; */
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
