
<div class="content-wrapper" >
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Jobpost</h1>
        </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Jobpost</li>
          </ol>
        </div> -->
      </div>
      <app-jobpost-progressbar></app-jobpost-progressbar>

    </div>
  </div>
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body" *ngFor="let item of joblist">
            <h5 class="m-3" style="font-size: 28px;">Review and post</h5>
            <hr/>
            <div>
            <h6 class="pt-3 ml-3" style="font-size: 22px;">Title and Description<span class="pl-3" style="color: #00A3FF;" (click)='titlepage()'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</span></h6>
            <div class="titlee">
              <div class=" row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Title</p>
                </div>
                </div>
                <div class="col-7 col-md-8"><div>{{item.jobName}}</div>
               </div>
              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Description</p>
                </div>
                </div>
                   <div class="col-7 col-md-8"><div>{{item.jobDescription}}</div>
                 </div>
              </div>
            </div>
          </div>
          <div>
            <h6 class="pt-3 ml-3" style="font-size: 22px;">Expertise <span class="pl-3" style="color: #00A3FF;" (click)='detailsandexpertise()'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span></h6>
            <div class="expertise">
              <div class=" row d-flex">
                                <div class="col-5 col-md-4">
                                                  <div>
                                                    <p>Expertise</p>
                                                  </div>

                                                </div>
                <div class="col-7 col-md-8">
                                  <div>{{item.expertiseText}}</div>

                </div>

              </div>
              <div class=" row d-flex">
                <div class="col-5 col-md-4">
                                  <div>
                                    <p>Pharmacy Operation</p>
                                  </div>

                                </div>
                <div class="col-7 col-md-8">
                    <div>{{item.pharmacyOperationsText}}</div>
                </div>
                </div>
                <div class=" row d-flex">
                  <div class="col-5 col-md-4">
                                    <div>
                                      <p>Additional Skills</p>
                                    </div>
  
                                  </div>
                  <div class="col-7 col-md-8">
                      <div>{{item.additionalSkillsText}}</div>
                  </div>
                  </div>
              <div class=" row d-flex">
                                <div class="col-5 col-md-4">
                                    <div>
                                      <p>Software Skill</p>
                                    </div>
                                </div>
                                                  
                <div class="col-7 col-md-8">
                               <div class="d-flex row" >
                                 <div *ngFor="let itemm of item.softwareSkills" class="col-12 col-md-4 pb-1 pr-2" >
                                  <div class="d-flex" style="
                                                              border: 1px solid #0052CC;
                                                              box-sizing: border-box;
                                                              border-radius: 37px">
                                    <div class="skilll py-1 px-1" title="{{ itemm.skill }}">{{ itemm.skill }}</div>
                                    <div class="py-1 px-1" title="{{itemm.level}}" style="margin-top: 0px;
                                                              padding-left: 5px;">{{ itemm.level }}</div>
                                  </div>
    </div></div>   

                </div>

              </div>
              <div class=" row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Screening Question</p>
                </div>
                </div>
                                <div class="col-7 col-md-8">
                                  <div class="d-flex">
                                                          <div *ngFor="let itemm of item.screeningQuestions" class="col-12 col-md-4 questionn" style="    margin-right: 10px;    padding: 3px;"
                                                            title="{{ itemm.question }}"> {{ itemm.question }}</div>

</div>
                  </div>

              </div>
            </div>
          </div>
          <div>
            <h6 class="pt-3 ml-3" style="font-size: 22px;">Location and Visibility <span class="pl-3" style="color: #00A3FF;" (click)='locationandvisibility()'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span></h6>
            <div *ngFor="let item of pharmacydetails" class="location">
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Pharmacy Name</p>
                </div>
                </div>
                                <div class="col-7 col-md-8"><div>{{ item.pharmacynaame }}</div>
                 </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Pharmacy Address</p>
                </div>
                  </div>
                                <div class="col-7 col-md-8"><div>{{ item.pharmacyaddress }}</div>
                  </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>State</p>
                                        </div>
                        </div>
                                                        <div class="col-7 col-md-8"><div>{{ item.state }}</div>
                        </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Country</p>
                              </div>
              </div>
                                              <div class="col-7 col-md-8"><div>{{ item.country }}</div>
              </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>City</p>
                </div>
                    </div>
                                                    <div class="col-7 col-md-8"><div>{{ item.city }}</div>
                    </div>

              </div>
              <div *ngFor="let item of joblist">
                 <div class="row d-flex">
                   <div class="col-5 col-md-4"><div>
                    <p>Job Visibility </p>
                                        </div>
                      </div>
                                                            <div class="col-7 col-md-8"><div> {{ item.jobVisibilityText }}</div>
                      </div>
              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Number Of Pharmacist Required</p>
                                </div>
                </div>
                                <div class="col-7 col-md-8"><div>{{ item.pharmacistNeeded }} </div>
                </div>

              </div></div>
             
            </div>
          </div>
          <div>
            <h6 class="pt-3 ml-3" style="font-size: 22px;">Budget and Timing <span class="pl-3" style="color: #00A3FF;" (click)='budgetandtiming()'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span></h6>
            <div class="budget">
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Payment to the Pharmacist </p>
                </div>
                      </div>
                          <div class="col-7 col-md-8"><div>{{ item.paymentTypeText }}</div>
                      </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Rate</p>
                </div>
                      </div>
                          <div class="col-7 col-md-8"><div>{{ item.fixedPrice }}</div>
                      </div>

              </div>
              <div class="row d-flex">
                <div class="col-5 col-md-4"><div>
                  <p>Total Expected Cost </p>
                </div>
                      </div>
                          <div class="col-7 col-md-8"><div>$ {{this.totalcost}}</div>
                      </div>

              </div>
              <div class="row d-flex">
                                <div class="col-5 col-md-4"><div>
                                  <p>Date</p>
                                </div>
                          </div>
                <div class="col-7 col-md-8"><div>{{ item.startDateTime | date: "MMM d, y" }}
                </div></div>               
              </div>
              <div class="row d-flex">
                                <div class="col-5 col-md-4"><div>
                                  <p>Time </p>
                                </div>
                      </div>
                <div class="col-7 col-md-8"><div>
                  {{ startdate }} to {{ enddate}}
                  </div></div>

               
              </div>
            </div>
          </div>
                  <div class="text-center mt-3"><button class="btnnn" (click)='savejobpost()'>Post Job Now</button></div>
          </div>
        </div>
      </div>
          </div>
  </section>
</div>
